<a href="https://colab.research.google.com/github/Uben30/Python_Cleaning_1/blob/main/3_Fbref_Cleaning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as mlp
import plotly as plt
import numpy as np
import plotly.graph_objects as go
import plotly.io as pio

In [ ]:
df=pd.read_html("https://fbref.com/en/comps/9/Premier-League-Stats")
df

[    Rk            Squad  MP   W   D   L  GF  GA  GD  Pts  Pts/MP    xG   xGA  \
 0    1          Arsenal  30  23   4   3  72  29  43   73    2.43  58.9  31.6
 1    2  Manchester City  29  21   4   4  75  27  48   67    2.31  61.9  22.2
 2    3    Newcastle Utd  29  15  11   3  48  21  27   56    1.93  49.9  28.8
 3    4   Manchester Utd  29  17   5   7  44  37   7   56    1.93  45.8  38.0
 4    5        Tottenham  30  16   5   9  55  42  13   53    1.77  43.2  36.1
 5    6      Aston Villa  30  14   5  11  41  40   1   47    1.57  38.4  43.7
 6    7         Brighton  28  13   7   8  52  36  16   46    1.64  51.0  33.0
 7    8        Liverpool  29  12   8   9  50  35  15   44    1.52  52.0  41.2
 8    9        Brentford  30  10  13   7  47  40   7   43    1.43  44.0  39.8
 9   10           Fulham  29  11   6  12  39  40  -1   39    1.34  35.2  48.6
 10  11          Chelsea  30  10   9  11  29  31  -2   39    1.30  39.0  36.2
 11  12   Crystal Palace  30   8   9  13  29  40 -11   33    1.10  30.2  40.5
 12  13           Wolves  30   8   7  15  24  42 -18   31    1.03  30.0  42.9
 13  14         West Ham  29   8   6  15  27  39 -12   30    1.03  36.9  35.7
 14  15      Bournemouth  30   8   6  16  28  57 -29   30    1.00  29.9  51.8
 15  16     Leeds United  30   7   8  15  39  54 -15   29    0.97  37.5  49.5
 16  17          Everton  30   6   9  15  23  43 -20   27    0.90  32.5  51.7
 17  18  Nott'ham Forest  30   6   9  15  24  54 -30   27    0.90  30.5  47.7
 18  19   Leicester City  30   7   4  19  40  52 -12   25    0.83  35.6  49.1
 19  20      Southampton  30   6   5  19  24  51 -27   23    0.77  28.5  42.7

      xGD  xGD/90     Last 5  Attendance                  Top Team Scorer  \
 0   27.3    0.91  W W W W D       60205                  Martinelli - 14
 1   39.7    1.37  W W W W W       53194              Erling Haaland - 30
 2   21.1    0.73  W W W W W       52243              Miguel Almirón - 11
 3    7.8    0.27  L D L W W       73704             Marcus Rashford - 15
 4    7.1    0.24  L W D D W       61637                  Harry Kane - 23
 5   -5.3   -0.18  D W W W W       41664               Ollie Watkins - 12
 6   18.0    0.64  D W D W L       31460          Alexis Mac Allister - 8
 7   10.8    0.37  W L L D D       53202               Mohamed Salah - 13
 8    4.2    0.14  W D D L L       17073                  Ivan Toney - 18
 9  -13.5   -0.46  D L L L L       23568         Aleksandar Mitrović - 11
 10   2.8    0.09  W D L D L       39988                  Kai Havertz - 7
 11 -10.3   -0.34  L L L W W       24900                Wilfried Zaha - 6
 12 -13.0   -0.43  W L L D W       31585               Daniel Podence - 6
 13   1.3    0.04  L D W L W       62459  Saïd Benrahma, Jarrod Bowen - 4
 14 -22.0   -0.73  W L W L W       10359               Philip Billing - 7
 15 -12.0   -0.40  D W L W L       36507                     Rodrigo - 11
 16 -19.2   -0.64  D W D D L       39237                 Demarai Gray - 4
 17 -17.1   -0.57  L L D L L       29177              Brennan Johnson - 8
 18 -13.5   -0.45  L D L L L       31815               Harvey Barnes - 10
 19 -14.3   -0.48  D L D L L       30502            James Ward-Prowse - 7

            Goalkeeper  Notes
 0      Aaron Ramsdale    NaN
 1             Ederson    NaN
 2           Nick Pope    NaN
 3        David de Gea    NaN
 4         Hugo Lloris    NaN
 5   Emiliano Martínez    NaN
 6      Robert Sánchez    NaN
 7             Alisson    NaN
 8          David Raya    NaN
 9          Bernd Leno    NaN
 10  Kepa Arrizabalaga    NaN
 11     Vicente Guaita    NaN
 12            José Sá    NaN
 13   Łukasz Fabiański    NaN
 14               Neto    NaN
 15      Illan Meslier    NaN
 16    Jordan Pickford    NaN
 17     Dean Henderson    NaN
 18         Danny Ward    NaN
 19       Gavin Bazunu    NaN  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                    Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
 0                   1            Arsenal   15  12  2  1  42  18  24  38  ...
 1                   2    Manchester City   14  12  1  1  47  14  33  37  ...
 2                   3      Newcastle Utd   14   8  5  1  23   9  14  29  ...
 3                   4     Manchester Utd   15  11  3  1  27   8  19  36  ...
 4                   5          Tottenham   15  11  0  4  31  17  14  33  ...
 5                   6        Aston Villa   15   8  2  5  25  19   6  26  ...
 6                   7           Brighton   14   7  3  4  25  14  11  24  ...
 7                   8          Liverpool   14   9  4  1  36  11  25  31  ...
 8                   9          Brentford   15   7  6  2  29  16  13  27  ...
 9                  10             Fulham   15   6  4  5  21  21   0  22  ...
 10                 11            Chelsea   15   6  5  4  16  12   4  23  ...
 11                 12     Crystal Palace   15   5  5  5  14  19  -5  20  ...
 12                 13             Wolves   15   6  2  7  13  19  -6  20  ...
 13                 14           West Ham   15   6  3  6  19  19   0  21  ...
 14                 15        Bournemouth   15   5  4  6  15  19  -4  19  ...
 15                 16       Leeds United   15   5  5  5  21  24  -3  20  ...
 16                 17            Everton   15   5  3  7  13  17  -4  18  ...
 17                 18    Nott'ham Forest   15   5  6  4  19  18   1  21  ...
 18                 19     Leicester City   15   3  3  9  17  20  -3  12  ...
 19                 20        Southampton   15   2  4  9  15  28 -13  10  ...

    Away
       L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
 0     2  30  11  19  35   2.33  24.1  16.6   7.5   0.50
 1     3  28  13  15  30   2.00  29.3  14.1  15.2   1.01
 2     2  25  12  13  27   1.80  21.6  16.9   4.7   0.31
 3     6  17  29 -12  20   1.43  17.3  23.2  -5.9  -0.42
 4     5  24  25  -1  20   1.33  19.3  20.5  -1.2  -0.08
 5     6  16  21  -5  21   1.40  16.0  23.3  -7.3  -0.49
 6     4  27  22   5  22   1.57  23.7  17.3   6.5   0.46
 7     8  14  24 -10  13   0.87  21.2  26.2  -5.1  -0.34
 8     5  18  24  -6  16   1.07  19.8  21.9  -2.1  -0.14
 9     7  18  19  -1  17   1.21  16.0  26.6 -10.6  -0.76
 10    7  13  19  -6  16   1.07  16.9  19.5  -2.7  -0.18
 11    8  15  21  -6  13   0.87  15.4  20.2  -4.7  -0.32
 12    8  11  23 -12  11   0.73  13.3  21.7  -8.4  -0.56
 13    9   8  20 -12   9   0.64  15.6  17.8  -2.1  -0.15
 14   10  13  38 -25  11   0.73  13.5  30.2 -16.7  -1.11
 15   10  18  30 -12   9   0.60  18.6  26.1  -7.5  -0.50
 16    8  10  26 -16   9   0.60  14.0  30.4 -16.4  -1.09
 17   11   5  36 -31   6   0.40  12.7  26.7 -14.0  -0.93
 18   10  23  32  -9  13   0.87  21.8  30.2  -8.4  -0.56
 19   10   9  23 -14  13   0.87  11.4  20.1  -8.7  -0.58

 [20 rows x 28 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                Age
 0             Arsenal                 26               25.2
 1         Aston Villa                 26               27.7
 2         Bournemouth                 31               27.1
 3           Brentford                 25               27.0
 4            Brighton                 26               27.4
 5             Chelsea                 32               27.2
 6      Crystal Palace                 26               27.6
 7             Everton                 28               27.4
 8              Fulham                 29               29.0
 9        Leeds United                 28               25.8
 10     Leicester City                 28               27.0
 11          Liverpool                 27               28.2
 12    Manchester City                 22               28.0
 13     Manchester Utd                 26               27.6
 14      Newcastle Utd                 26               28.1
 15    Nott'ham Forest                 33               27.3
 16        Southampton                 31               25.2
 17          Tottenham                 27               28.4
 18           West Ham                 25               28.8
 19             Wolves                 31               27.4

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                59.6           30    330  2700  30.0          69  52  ...
 1                49.5           30    330  2700  30.0          39  26  ...
 2                38.9           30    330  2700  30.0          28  19  ...
 3                43.4           30    330  2700  30.0          46  27  ...
 4                59.9           28    308  2520  28.0          48  32  ...
 5                59.1           30    330  2700  30.0          29  20  ...
 6                44.2           30    330  2700  30.0          27  23  ...
 7                43.5           30    330  2700  30.0          22  18  ...
 8                48.3           29    319  2610  29.0          36  22  ...
 9                48.7           30    330  2700  30.0          37  27  ...
 10               49.3           30    330  2700  30.0          38  28  ...
 11               58.9           29    319  2610  29.0          46  37  ...
 12               64.7           29    319  2610  29.0          73  54  ...
 13               53.4           29    319  2610  29.0          42  34  ...
 14               51.4           29    319  2610  29.0          46  31  ...
 15               40.2           30    330  2700  30.0          23  14  ...
 16               44.9           30    330  2700  30.0          24  16  ...
 17               50.3           30    330  2700  30.0          53  35  ...
 18               42.8           29    319  2610  29.0          26  14  ...
 19               50.5           30    330  2700  30.0          22  10  ...

    Per 90 Minutes
               Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
 0            2.30  1.73  4.03  2.20   3.93  1.96  1.45   3.42  1.90     3.35
 1            1.30  0.87  2.17  1.20   2.07  1.28  0.97   2.25  1.20     2.17
 2            0.93  0.63  1.57  0.93   1.57  1.00  0.72   1.71  1.00     1.71
 3            1.53  0.90  2.43  1.30   2.20  1.47  0.99   2.46  1.26     2.25
 4            1.71  1.14  2.86  1.54   2.68  1.82  1.35   3.17  1.70     3.05
 5            0.97  0.67  1.63  0.87   1.53  1.30  1.00   2.30  1.22     2.22
 6            0.90  0.77  1.67  0.90   1.67  1.01  0.78   1.79  0.95     1.73
 7            0.73  0.60  1.33  0.67   1.27  1.08  0.78   1.87  1.03     1.82
 8            1.24  0.76  2.00  1.10   1.86  1.21  0.74   1.96  1.02     1.77
 9            1.23  0.90  2.13  1.20   2.10  1.25  0.87   2.12  1.20     2.06
 10           1.27  0.93  2.20  1.23   2.17  1.19  0.98   2.17  1.14     2.12
 11           1.59  1.28  2.86  1.59   2.86  1.79  1.38   3.17  1.74     3.12
 12           2.52  1.86  4.38  2.28   4.14  2.13  1.54   3.67  1.94     3.48
 13           1.45  1.17  2.62  1.38   2.55  1.58  1.24   2.82  1.52     2.76
 14           1.59  1.07  2.66  1.45   2.52  1.72  1.29   3.02  1.62     2.91
 15           0.77  0.47  1.23  0.73   1.20  1.02  0.73   1.75  0.94     1.67
 16           0.80  0.53  1.33  0.77   1.30  0.95  0.72   1.67  0.87     1.58
 17           1.77  1.17  2.93  1.63   2.80  1.44  1.06   2.50  1.31     2.37
 18           0.90  0.48  1.38  0.72   1.21  1.27  0.82   2.09  1.11     1.93
 19           0.73  0.33  1.07  0.67   1.00  1.00  0.71   1.71  0.95     1.66

 [20 rows x 32 columns],
     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Squad               # Pl                Age
 0           vs Arsenal                 26               27.5
 1       vs Aston Villa                 26               27.2
 2       vs Bournemouth                 31               27.3
 3         vs Brentford                 25               27.2
 4          vs Brighton                 26               27.4
 5           vs Chelsea                 32               27.4
 6    vs Crystal Palace                 26               27.2
 7           vs Everton                 28               27.2
 8            vs Fulham                 29               27.5
 9      vs Leeds United                 28               27.3
 10   vs Leicester City                 28               27.2
 11        vs Liverpool                 27               27.3
 12  vs Manchester City                 22               27.5
 13   vs Manchester Utd                 26               27.2
 14    vs Newcastle Utd                 26               27.7
 15  vs Nott'ham Forest                 33               27.7
 16      vs Southampton                 31               27.5
 17        vs Tottenham                 27               27.4
 18         vs West Ham                 25               27.4
 19           vs Wolves                 31               27.1

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                40.4           30    330  2700  30.0          28  17  ...
 1                50.5           30    330  2700  30.0          36  21  ...
 2                61.2           30    330  2700  30.0          54  38  ...
 3                56.6           30    330  2700  30.0          37  27  ...
 4                40.1           28    308  2520  28.0          33  21  ...
 5                40.9           30    330  2700  30.0          29  20  ...
 6                55.8           30    330  2700  30.0          38  28  ...
 7                56.5           30    330  2700  30.0          43  28  ...
 8                51.7           29    319  2610  29.0          39  23  ...
 9                51.3           30    330  2700  30.0          53  34  ...
 10               50.7           30    330  2700  30.0          47  34  ...
 11               41.1           29    319  2610  29.0          33  23  ...
 12               35.4           29    319  2610  29.0          26  17  ...
 13               46.6           29    319  2610  29.0          36  25  ...
 14               48.6           29    319  2610  29.0          21  16  ...
 15               59.8           30    330  2700  30.0          54  36  ...
 16               55.1           30    330  2700  30.0          47  39  ...
 17               49.7           30    330  2700  30.0          41  30  ...
 18               57.2           29    319  2610  29.0          38  30  ...
 19               49.5           30    330  2700  30.0          41  32  ...

    Per 90 Minutes
               Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
 0            0.93  0.57  1.50  0.87   1.43  1.05  0.77   1.83  0.95     1.72
 1            1.20  0.70  1.90  1.07   1.77  1.46  0.99   2.44  1.33     2.32
 2            1.80  1.27  3.07  1.60   2.87  1.73  1.21   2.94  1.55     2.76
 3            1.23  0.90  2.13  1.17   2.07  1.33  0.97   2.29  1.29     2.25
 4            1.18  0.75  1.93  1.00   1.75  1.18  0.73   1.91  1.01     1.73
 5            0.97  0.67  1.63  0.97   1.63  1.21  0.95   2.15  1.21     2.15
 6            1.27  0.93  2.20  1.20   2.13  1.35  1.00   2.35  1.30     2.30
 7            1.43  0.93  2.37  1.27   2.20  1.72  1.24   2.97  1.60     2.84
 8            1.34  0.79  2.14  1.21   2.00  1.68  1.21   2.89  1.59     2.80
 9            1.77  1.13  2.90  1.67   2.80  1.65  1.26   2.91  1.57     2.83
 10           1.57  1.13  2.70  1.50   2.63  1.64  1.27   2.91  1.56     2.83
 11           1.14  0.79  1.93  1.07   1.86  1.42  1.08   2.50  1.35     2.43
 12           0.90  0.59  1.48  0.79   1.38  0.77  0.57   1.34  0.68     1.26
 13           1.24  0.86  2.10  1.21   2.07  1.31  0.98   2.29  1.28     2.27
 14           0.72  0.55  1.28  0.66   1.21  0.99  0.74   1.74  0.89     1.63
 15           1.80  1.20  3.00  1.63   2.83  1.59  1.10   2.69  1.39     2.49
 16           1.57  1.30  2.87  1.53   2.83  1.42  1.12   2.54  1.37     2.49
 17           1.37  1.00  2.37  1.30   2.30  1.20  0.86   2.07  1.13     1.99
 18           1.31  1.03  2.34  1.21   2.24  1.23  0.93   2.16  1.12     2.05
 19           1.37  1.07  2.43  1.33   2.40  1.43  1.05   2.48  1.35     2.40

 [20 rows x 32 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
                 Squad               # Pl           MP Starts   Min   90s
 0             Arsenal                  1           30     30  2700  30.0
 1         Aston Villa                  2           30     30  2700  30.0
 2         Bournemouth                  2           30     30  2700  30.0
 3           Brentford                  1           30     30  2700  30.0
 4            Brighton                  2           28     28  2520  28.0
 5             Chelsea                  2           30     30  2700  30.0
 6      Crystal Palace                  3           30     30  2700  30.0
 7             Everton                  2           30     30  2700  30.0
 8              Fulham                  2           29     29  2610  29.0
 9        Leeds United                  1           30     30  2700  30.0
 10     Leicester City                  2           30     30  2700  30.0
 11          Liverpool                  1           29     29  2610  29.0
 12    Manchester City                  1           29     29  2610  29.0
 13     Manchester Utd                  1           29     29  2610  29.0
 14      Newcastle Utd                  2           29     29  2608  29.0
 15    Nott'ham Forest                  3           30     30  2700  30.0
 16        Southampton                  1           30     30  2700  30.0
 17          Tottenham                  2           30     30  2700  30.0
 18           West Ham                  2           29     29  2610  29.0
 19             Wolves                  1           30     30  2700  30.0

    Performance                   ...                       Penalty Kicks      \
             GA  GA90 SoTA Saves  ...   W   D   L  CS   CS%         PKatt PKA
 0           29  0.97  101    73  ...  23   4   3  12  40.0             4   2
 1           40  1.33  125    88  ...  14   5  11  10  33.3             5   4
 2           57  1.90  157   103  ...   8   6  16   7  23.3             7   6
 3           40  1.33  161   124  ...  10  13   7   9  30.0             2   2
 4           36  1.29   92    58  ...  13   7   8   9  32.1             6   5
 5           31  1.03  118    89  ...  10   9  11  10  33.3             0   0
 6           40  1.33  133    95  ...   8   9  13   6  20.0             2   2
 7           43  1.43  149   106  ...   6   9  15   7  23.3             5   5
 8           40  1.38  149   110  ...  11   6  12   8  27.6             4   4
 9           54  1.80  136    83  ...   7   8  15   5  16.7             3   3
 10          52  1.73  142    93  ...   7   4  19   6  20.0             3   2
 11          35  1.21  120    86  ...  12   8   9  11  37.9             3   2
 12          27  0.93   62    36  ...  21   4   4  10  34.5             3   3
 13          37  1.28  112    76  ...  17   5   7  13  44.8             1   1
 14          21  0.72   93    71  ...  15  11   3  13  44.8             4   2
 15          54  1.80  138    82  ...   6   9  15   7  23.3             8   5
 16          51  1.70  113    65  ...   6   5  19   4  13.3             2   1
 17          42  1.40  135    93  ...  16   5   9   9  30.0             3   2
 18          39  1.34  123    84  ...   8   6  15   7  24.1             4   3
 19          42  1.40  128    85  ...   8   7  15   8  26.7             3   1


    PKsv PKm Save%
 0     0   2   0.0
 1     1   0  20.0
 2     0   1   0.0
 3     0   0   0.0
 4     1   0  16.7
 5     0   0   NaN
 6     0   0   0.0
 7     0   0   0.0
 8     0   0   0.0
 9     0   0   0.0
 10    1   0  33.3
 11    1   0  33.3
 12    0   0   0.0
 13    0   0   0.0
 14    1   1  33.3
 15    2   1  28.6
 16    1   0  50.0
 17    1   0  33.3
 18    1   0  25.0
 19    2   0  66.7

 [20 rows x 21 columns],

In [ ]:
df[1
  ]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                   Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                   1            Arsenal   15  12  2  1  42  18  24  38  ...
1                   2    Manchester City   14  12  1  1  47  14  33  37  ...
2                   3      Newcastle Utd   14   8  5  1  23   9  14  29  ...
3                   4     Manchester Utd   15  11  3  1  27   8  19  36  ...
4                   5          Tottenham   15  11  0  4  31  17  14  33  ...
5                   6        Aston Villa   15   8  2  5  25  19   6  26  ...
6                   7           Brighton   14   7  3  4  25  14  11  24  ...
7                   8          Liverpool   14   9  4  1  36  11  25  31  ...
8                   9          Brentford   15   7  6  2  29  16  13  27  ...
9                  10             Fulham   15   6  4  5  21  21   0  22  ...
10                 11            Chelsea   15   6  5  4  16  12   4  23  ...
11                 12     Crystal Palace   15   5  5  5  14  19  -5  20  ...
12                 13             Wolves   15   6  2  7  13  19  -6  20  ...
13                 14           West Ham   15   6  3  6  19  19   0  21  ...
14                 15        Bournemouth   15   5  4  6  15  19  -4  19  ...
15                 16       Leeds United   15   5  5  5  21  24  -3  20  ...
16                 17            Everton   15   5  3  7  13  17  -4  18  ...
17                 18    Nott'ham Forest   15   5  6  4  19  18   1  21  ...
18                 19     Leicester City   15   3  3  9  17  20  -3  12  ...
19                 20        Southampton   15   2  4  9  15  28 -13  10  ...

   Away
      L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0     2  30  11  19  35   2.33  24.1  16.6   7.5   0.50
1     3  28  13  15  30   2.00  29.3  14.1  15.2   1.01
2     2  25  12  13  27   1.80  21.6  16.9   4.7   0.31
3     6  17  29 -12  20   1.43  17.3  23.2  -5.9  -0.42
4     5  24  25  -1  20   1.33  19.3  20.5  -1.2  -0.08
5     6  16  21  -5  21   1.40  16.0  23.3  -7.3  -0.49
6     4  27  22   5  22   1.57  23.7  17.3   6.5   0.46
7     8  14  24 -10  13   0.87  21.2  26.2  -5.1  -0.34
8     5  18  24  -6  16   1.07  19.8  21.9  -2.1  -0.14
9     7  18  19  -1  17   1.21  16.0  26.6 -10.6  -0.76
10    7  13  19  -6  16   1.07  16.9  19.5  -2.7  -0.18
11    8  15  21  -6  13   0.87  15.4  20.2  -4.7  -0.32
12    8  11  23 -12  11   0.73  13.3  21.7  -8.4  -0.56
13    9   8  20 -12   9   0.64  15.6  17.8  -2.1  -0.15
14   10  13  38 -25  11   0.73  13.5  30.2 -16.7  -1.11
15   10  18  30 -12   9   0.60  18.6  26.1  -7.5  -0.50
16    8  10  26 -16   9   0.60  14.0  30.4 -16.4  -1.09
17   11   5  36 -31   6   0.40  12.7  26.7 -14.0  -0.93
18   10  23  32  -9  13   0.87  21.8  30.2  -8.4  -0.56
19   10   9  23 -14  13   0.87  11.4  20.1  -8.7  -0.58

[20 rows x 28 columns]

In [ ]:
df_temp=df[1]
# get the first header row
header1 = df_temp.columns.get_level_values(0)

# get the second header row
header2 = df_temp.columns.get_level_values(1)

# remove the comma from the second header row
header2 = header2.str.replace(',', '')

# combine the two header rows and assign to the columns attribute
df_temp.columns = header1 + '_' + header2

df_temp

,Unnamed: 0_level_0_Rk,Unnamed: 1_level_0_Squad,Home_MP,Home_W,Home_D,Home_L,Home_GF,Home_GA,Home_GD,Home_Pts,...,Away_L,Away_GF,Away_GA,Away_GD,Away_Pts,Away_Pts/MP,Away_xG,Away_xGA,Away_xGD,Away_xGD/90
0,1,Arsenal,15,12,2,1,42,18,24,38,...,2,30,11,19,35,2.33,24.1,16.6,7.5,0.50
1,2,Manchester City,14,12,1,1,47,14,33,37,...,3,28,13,15,30,2.00,29.3,14.1,15.2,1.01
2,3,Newcastle Utd,14,8,5,1,23,9,14,29,...,2,25,12,13,27,1.80,21.6,16.9,4.7,0.31
3,4,Manchester Utd,15,11,3,1,27,8,19,36,...,6,17,29,-12,20,1.43,17.3,23.2,-5.9,-0.42
4,5,Tottenham,15,11,0,4,31,17,14,33,...,5,24,25,-1,20,1.33,19.3,20.5,-1.2,-0.08
5,6,Aston Villa,15,8,2,5,25,19,6,26,...,6,16,21,-5,21,1.40,16.0,23.3,-7.3,-0.49
6,7,Brighton,14,7,3,4,25,14,11,24,...,4,27,22,5,22,1.57,23.7,17.3,6.5,0.46
7,8,Liverpool,14,9,4,1,36,11,25,31,...,8,14,24,-10,13,0.87,21.2,26.2,-5.1,-0.34
8,9,Brentford,15,7,6,2,29,16,13,27,...,5,18,24,-6,16,1.07,19.8,21.9,-2.1,-0.14
9,10,Fulham,15,6,4,5,21,21,0,22,...,7,18,19,-1,17,1.21,16.0,26.6,-10.6,-0.76
10,11,Chelsea,15,6,5,4,16,12,4,23,...,7,13,19,-6,16,1.07,16.9,19.5,-2.7,-0.18
11,12,Crystal Palace,15,5,5,5,14,19,-5,20,...,8,15,21,-6,13,0.87,15.4,20.2,-4.7,-0.32
12,13,Wolves,15,6,2,7,13,19,-6,20,...,8,11,23,-12,11,0.73,13.3,21.7,-8.4,-0.56
13,14,West Ham,15,6,3,6,19,19,0,21,...,9,8,20,-12,9,0.64,15.6,17.8,-2.1,-0.15
14,15,Bournemouth,15,5,4,6,15,19,-4,19,...,10,13,38,-25,11,0.73,13.5,30.2,-16.7,-1.11
15,16,Leeds United,15,5,5,5,21,24,-3,20,...,10,18,30,-12,9,0.60,18.6,26.1,-7.5,-0.50
16,17,Everton,15,5,3,7,13,17,-4,18,...,8,10,26,-16,9,0.60,14.0,30.4,-16.4,-1.09
17,18,Nott'ham Forest,15,5,6,4,19,18,1,21,...,11,5,36,-31,6,0.40,12.7,26.7,-14.0,-0.93
18,19,Leicester City,15,3,3,9,17,20,-3,12,...,10,23,32,-9,13,0.87,21.8,30.2,-8.4,-0.56
19,20,Southampton,15,2,4,9,15,28,-13,10,...,10,9,23,-14,13,0.87,11.4,20.1,-8.7,-0.58

In [ ]:
df_temp=df_temp.rename(columns={'Unnamed: 0_level_0_Rk':'Ranking','Unnamed: 1_level_0_Squad':'Squad'})

In [ ]:
df_temp

,Ranking,Squad,Home_MP,Home_W,Home_D,Home_L,Home_GF,Home_GA,Home_GD,Home_Pts,...,Away_L,Away_GF,Away_GA,Away_GD,Away_Pts,Away_Pts/MP,Away_xG,Away_xGA,Away_xGD,Away_xGD/90
0,1,Arsenal,15,12,2,1,42,18,24,38,...,2,30,11,19,35,2.33,24.1,16.6,7.5,0.50
1,2,Manchester City,14,12,1,1,47,14,33,37,...,3,28,13,15,30,2.00,29.3,14.1,15.2,1.01
2,3,Newcastle Utd,14,8,5,1,23,9,14,29,...,2,25,12,13,27,1.80,21.6,16.9,4.7,0.31
3,4,Manchester Utd,15,11,3,1,27,8,19,36,...,6,17,29,-12,20,1.43,17.3,23.2,-5.9,-0.42
4,5,Tottenham,15,11,0,4,31,17,14,33,...,5,24,25,-1,20,1.33,19.3,20.5,-1.2,-0.08
5,6,Aston Villa,15,8,2,5,25,19,6,26,...,6,16,21,-5,21,1.40,16.0,23.3,-7.3,-0.49
6,7,Brighton,14,7,3,4,25,14,11,24,...,4,27,22,5,22,1.57,23.7,17.3,6.5,0.46
7,8,Liverpool,14,9,4,1,36,11,25,31,...,8,14,24,-10,13,0.87,21.2,26.2,-5.1,-0.34
8,9,Brentford,15,7,6,2,29,16,13,27,...,5,18,24,-6,16,1.07,19.8,21.9,-2.1,-0.14
9,10,Fulham,15,6,4,5,21,21,0,22,...,7,18,19,-1,17,1.21,16.0,26.6,-10.6,-0.76
10,11,Chelsea,15,6,5,4,16,12,4,23,...,7,13,19,-6,16,1.07,16.9,19.5,-2.7,-0.18
11,12,Crystal Palace,15,5,5,5,14,19,-5,20,...,8,15,21,-6,13,0.87,15.4,20.2,-4.7,-0.32
12,13,Wolves,15,6,2,7,13,19,-6,20,...,8,11,23,-12,11,0.73,13.3,21.7,-8.4,-0.56
13,14,West Ham,15,6,3,6,19,19,0,21,...,9,8,20,-12,9,0.64,15.6,17.8,-2.1,-0.15
14,15,Bournemouth,15,5,4,6,15,19,-4,19,...,10,13,38,-25,11,0.73,13.5,30.2,-16.7,-1.11
15,16,Leeds United,15,5,5,5,21,24,-3,20,...,10,18,30,-12,9,0.60,18.6,26.1,-7.5,-0.50
16,17,Everton,15,5,3,7,13,17,-4,18,...,8,10,26,-16,9,0.60,14.0,30.4,-16.4,-1.09
17,18,Nott'ham Forest,15,5,6,4,19,18,1,21,...,11,5,36,-31,6,0.40,12.7,26.7,-14.0,-0.93
18,19,Leicester City,15,3,3,9,17,20,-3,12,...,10,23,32,-9,13,0.87,21.8,30.2,-8.4,-0.56
19,20,Southampton,15,2,4,9,15,28,-13,10,...,10,9,23,-14,13,0.87,11.4,20.1,-8.7,-0.58

In [ ]:
df_temp=df_temp.drop('index_',axis=1)

KeyError: ignored

In [ ]:
df_temp

,Ranking,Squad,Home_MP,Home_W,Home_D,Home_L,Home_GF,Home_GA,Home_GD,Home_Pts,...,Away_L,Away_GF,Away_GA,Away_GD,Away_Pts,Away_Pts/MP,Away_xG,Away_xGA,Away_xGD,Away_xGD/90
0,1,Arsenal,15,12,2,1,42,18,24,38,...,2,30,11,19,35,2.33,24.1,16.6,7.5,0.50
1,2,Manchester City,14,12,1,1,47,14,33,37,...,3,28,13,15,30,2.00,29.3,14.1,15.2,1.01
2,3,Newcastle Utd,14,8,5,1,23,9,14,29,...,2,25,12,13,27,1.80,21.6,16.9,4.7,0.31
3,4,Manchester Utd,15,11,3,1,27,8,19,36,...,6,17,29,-12,20,1.43,17.3,23.2,-5.9,-0.42
4,5,Tottenham,15,11,0,4,31,17,14,33,...,5,24,25,-1,20,1.33,19.3,20.5,-1.2,-0.08
5,6,Aston Villa,15,8,2,5,25,19,6,26,...,6,16,21,-5,21,1.40,16.0,23.3,-7.3,-0.49
6,7,Brighton,14,7,3,4,25,14,11,24,...,4,27,22,5,22,1.57,23.7,17.3,6.5,0.46
7,8,Liverpool,14,9,4,1,36,11,25,31,...,8,14,24,-10,13,0.87,21.2,26.2,-5.1,-0.34
8,9,Brentford,15,7,6,2,29,16,13,27,...,5,18,24,-6,16,1.07,19.8,21.9,-2.1,-0.14
9,10,Fulham,15,6,4,5,21,21,0,22,...,7,18,19,-1,17,1.21,16.0,26.6,-10.6,-0.76
10,11,Chelsea,15,6,5,4,16,12,4,23,...,7,13,19,-6,16,1.07,16.9,19.5,-2.7,-0.18
11,12,Crystal Palace,15,5,5,5,14,19,-5,20,...,8,15,21,-6,13,0.87,15.4,20.2,-4.7,-0.32
12,13,Wolves,15,6,2,7,13,19,-6,20,...,8,11,23,-12,11,0.73,13.3,21.7,-8.4,-0.56
13,14,West Ham,15,6,3,6,19,19,0,21,...,9,8,20,-12,9,0.64,15.6,17.8,-2.1,-0.15
14,15,Bournemouth,15,5,4,6,15,19,-4,19,...,10,13,38,-25,11,0.73,13.5,30.2,-16.7,-1.11
15,16,Leeds United,15,5,5,5,21,24,-3,20,...,10,18,30,-12,9,0.60,18.6,26.1,-7.5,-0.50
16,17,Everton,15,5,3,7,13,17,-4,18,...,8,10,26,-16,9,0.60,14.0,30.4,-16.4,-1.09
17,18,Nott'ham Forest,15,5,6,4,19,18,1,21,...,11,5,36,-31,6,0.40,12.7,26.7,-14.0,-0.93
18,19,Leicester City,15,3,3,9,17,20,-3,12,...,10,23,32,-9,13,0.87,21.8,30.2,-8.4,-0.56
19,20,Southampton,15,2,4,9,15,28,-13,10,...,10,9,23,-14,13,0.87,11.4,20.1,-8.7,-0.58

In [ ]:
df_temp.rename(columns={'Home_Home MP':'Home_MP'})

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_temp['Away_Pts/MP'], y=df_temp['Home_Pts/MP'], text=df_temp['Squad'], mode='markers+text', textposition='top center',
                         marker=dict(size=10, color='blue')))
fig.update_layout(title='Away & Home Points Per 90', xaxis_title='Away points per 90', yaxis_title='Home Points per 90')
fig.show()

In [ ]:
df_temp['H & A Goals Diff'] = df_temp['Home_GF'] - df_temp['Away_GF']

In [ ]:
df_temp

,Ranking,Squad,Home_MP,Home_W,Home_D,Home_L,Home_GF,Home_GA,Home_GD,Home_Pts,...,Away_GF,Away_GA,Away_GD,Away_Pts,Away_Pts/MP,Away_xG,Away_xGA,Away_xGD,Away_xGD/90,H & A Goals Diff
0,1,Arsenal,15,12,2,1,42,18,24,38,...,30,11,19,35,2.33,24.1,16.6,7.5,0.50,12
1,2,Manchester City,14,12,1,1,47,14,33,37,...,28,13,15,30,2.00,29.3,14.1,15.2,1.01,19
2,3,Newcastle Utd,14,8,5,1,23,9,14,29,...,25,12,13,27,1.80,21.6,16.9,4.7,0.31,-2
3,4,Manchester Utd,15,11,3,1,27,8,19,36,...,17,29,-12,20,1.43,17.3,23.2,-5.9,-0.42,10
4,5,Tottenham,15,11,0,4,31,17,14,33,...,24,25,-1,20,1.33,19.3,20.5,-1.2,-0.08,7
5,6,Aston Villa,15,8,2,5,25,19,6,26,...,16,21,-5,21,1.40,16.0,23.3,-7.3,-0.49,9
6,7,Brighton,14,7,3,4,25,14,11,24,...,27,22,5,22,1.57,23.7,17.3,6.5,0.46,-2
7,8,Liverpool,14,9,4,1,36,11,25,31,...,14,24,-10,13,0.87,21.2,26.2,-5.1,-0.34,22
8,9,Brentford,15,7,6,2,29,16,13,27,...,18,24,-6,16,1.07,19.8,21.9,-2.1,-0.14,11
9,10,Fulham,15,6,4,5,21,21,0,22,...,18,19,-1,17,1.21,16.0,26.6,-10.6,-0.76,3
10,11,Chelsea,15,6,5,4,16,12,4,23,...,13,19,-6,16,1.07,16.9,19.5,-2.7,-0.18,3
11,12,Crystal Palace,15,5,5,5,14,19,-5,20,...,15,21,-6,13,0.87,15.4,20.2,-4.7,-0.32,-1
12,13,Wolves,15,6,2,7,13,19,-6,20,...,11,23,-12,11,0.73,13.3,21.7,-8.4,-0.56,2
13,14,West Ham,15,6,3,6,19,19,0,21,...,8,20,-12,9,0.64,15.6,17.8,-2.1,-0.15,11
14,15,Bournemouth,15,5,4,6,15,19,-4,19,...,13,38,-25,11,0.73,13.5,30.2,-16.7,-1.11,2
15,16,Leeds United,15,5,5,5,21,24,-3,20,...,18,30,-12,9,0.60,18.6,26.1,-7.5,-0.50,3
16,17,Everton,15,5,3,7,13,17,-4,18,...,10,26,-16,9,0.60,14.0,30.4,-16.4,-1.09,3
17,18,Nott'ham Forest,15,5,6,4,19,18,1,21,...,5,36,-31,6,0.40,12.7,26.7,-14.0,-0.93,14
18,19,Leicester City,15,3,3,9,17,20,-3,12,...,23,32,-9,13,0.87,21.8,30.2,-8.4,-0.56,-6
19,20,Southampton,15,2,4,9,15,28,-13,10,...,9,23,-14,13,0.87,11.4,20.1,-8.7,-0.58,6

In [ ]:
# Sorting the df in descending order based of Home goals Scored, to get the bar chart in a descending order
df_temp_sorted=df_temp.sort_values('Home_GF',ascending=False)

# create a bar chart trace for home goals
trace_home_gf = go.Bar(x=df_temp_sorted['Squad'], y=df_temp_sorted['Home_GF'], name='Home GF',text=df_temp_sorted['Home_GF'],textposition='inside')

# create a bar chart trace for away goals
trace_away_gf = go.Bar(x=df_temp_sorted['Squad'], y=df_temp_sorted['Away_GF'], name='Away GF',text=df_temp_sorted['Away_GF'],textposition='outside')

# create a line chart trace for H & A goals diff, use yaxis parameter to enable a secondary y-axis using input y2
trace_ha_goals_diff = go.Scatter(x=df_temp_sorted['Squad'], y=df_temp_sorted['H & A Goals Diff'], name='H & A Goals Diff',
                                 yaxis='y2', line=dict(color='red'),text=df_temp_sorted['H & A Goals Diff'], textposition='top center')

# create the figure
fig = go.Figure(data=[trace_home_gf, trace_away_gf, trace_ha_goals_diff])

# update the layout, adding secondary y-axis, giving its position toward the right and overlaying attribute sets the second y-axis to overlay the first y-axis
fig.update_layout(title='Goals Scored and Goal Difference',
                  xaxis_title='Team', yaxis_title='Goals Scored',
                  yaxis2=dict(title='H & A Goals Diff', overlaying='y', side='right'))

# show the chart
fig.show()

In [ ]:
df[2]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Arsenal                 26               25.2
1         Aston Villa                 26               27.7
2         Bournemouth                 31               27.1
3           Brentford                 25               27.0
4            Brighton                 26               27.4
5             Chelsea                 32               27.2
6      Crystal Palace                 26               27.6
7             Everton                 28               27.3
8              Fulham                 29               29.0
9        Leeds United                 28               25.8
10     Leicester City                 28               27.0
11          Liverpool                 27               28.2
12    Manchester City                 22               28.0
13     Manchester Utd                 26               27.6
14      Newcastle Utd                 26               28.1
15    Nott'ham Forest                 33               27.3
16        Southampton                 31               25.2
17          Tottenham                 27               28.4
18           West Ham                 25               28.8
19             Wolves                 31               27.4

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                59.6           30    330  2700  30.0          69  52  ...
1                49.5           30    330  2700  30.0          39  26  ...
2                38.9           30    330  2700  30.0          28  19  ...
3                43.4           30    330  2700  30.0          46  27  ...
4                59.9           28    308  2520  28.0          48  32  ...
5                59.1           30    330  2700  30.0          29  20  ...
6                44.2           30    330  2700  30.0          27  23  ...
7                43.5           30    330  2700  30.0          22  18  ...
8                48.3           29    319  2610  29.0          36  22  ...
9                48.7           30    330  2700  30.0          37  27  ...
10               49.3           30    330  2700  30.0          38  28  ...
11               58.9           29    319  2610  29.0          46  37  ...
12               64.7           29    319  2610  29.0          73  54  ...
13               53.4           29    319  2610  29.0          42  34  ...
14               51.4           29    319  2610  29.0          46  31  ...
15               40.2           30    330  2700  30.0          23  14  ...
16               44.9           30    330  2700  30.0          24  16  ...
17               50.3           30    330  2700  30.0          53  35  ...
18               42.8           29    319  2610  29.0          26  14  ...
19               50.5           30    330  2700  30.0          22  10  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            2.30  1.73  4.03  2.20   3.93  1.96  1.45   3.42  1.90     3.35
1            1.30  0.87  2.17  1.20   2.07  1.28  0.97   2.25  1.20     2.17
2            0.93  0.63  1.57  0.93   1.57  1.00  0.72   1.71  1.00     1.71
3            1.53  0.90  2.43  1.30   2.20  1.47  0.99   2.46  1.26     2.25
4            1.71  1.14  2.86  1.54   2.68  1.82  1.35   3.17  1.70     3.05
5            0.97  0.67  1.63  0.87   1.53  1.30  1.00   2.30  1.22     2.22
6            0.90  0.77  1.67  0.90   1.67  1.01  0.78   1.79  0.95     1.73
7            0.73  0.60  1.33  0.67   1.27  1.08  0.78   1.87  1.03     1.82
8            1.24  0.76  2.00  1.10   1.86  1.21  0.74   1.96  1.02     1.77
9            1.23  0.90  2.13  1.20   2.10  1.25  0.87   2.12  1.20     2.06
10           1.27  0.93  2.20  1.23   2.17  1.19  0.98   2.17  1.14     2.12
11           1.59  1.28  2.86  1.59   2.86  1.79  1.38   3.17  1.74     3.12
12           2.52  1.86  4.38  2.28   4.14  2.13  1.54   3.67  1.94     3.48
13           1.45  1.17  2.62  1.38   2.55  1.58  1.24   2.82  1.52     2.76
14           1.59  1.07  2.66  1.45   2.52  1.72  1.29   3.02  1.62     2.91
15           0.77  0.47  1.23  0.73   1.20  1.02  0.73   1.75  0.94     1.67
16           0.80  0.53  1.33  0.77   1.30  0.95  0.72   1.67  0.87     1.58
17           1.77  1.17  2.93  1.63   2.80  1.44  1.06   2.50  1.31     2.37
18           0.90  0.48  1.38  0.72   1.21  1.27  0.82   2.09  1.11     1.93
19           0.73  0.33  1.07  0.67   1.00  1.00  0.71   1.71  0.95     1.66

[20 rows x 32 columns]

In [ ]:
df_temp2=df[2].copy()

In [ ]:
header1 = df_temp2.columns.get_level_values(0)

# get the second header row
header2 = df_temp2.columns.get_level_values(1)

# combine the two header rows and assign to the columns attribute
df_temp2.columns = header1 + '_' + header2

df_temp2

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Unnamed: 2_level_0_Age,Unnamed: 3_level_0_Poss,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,26,25.2,59.6,30,330,2700,30.0,69,52,...,2.30,1.73,4.03,2.20,3.93,1.96,1.45,3.42,1.90,3.35
1,Aston Villa,26,27.7,49.5,30,330,2700,30.0,39,26,...,1.30,0.87,2.17,1.20,2.07,1.28,0.97,2.25,1.20,2.17
2,Bournemouth,31,27.1,38.9,30,330,2700,30.0,28,19,...,0.93,0.63,1.57,0.93,1.57,1.00,0.72,1.71,1.00,1.71
3,Brentford,25,27.0,43.4,30,330,2700,30.0,46,27,...,1.53,0.90,2.43,1.30,2.20,1.47,0.99,2.46,1.26,2.25
4,Brighton,26,27.4,59.9,28,308,2520,28.0,48,32,...,1.71,1.14,2.86,1.54,2.68,1.82,1.35,3.17,1.70,3.05
5,Chelsea,32,27.2,59.1,30,330,2700,30.0,29,20,...,0.97,0.67,1.63,0.87,1.53,1.30,1.00,2.30,1.22,2.22
6,Crystal Palace,26,27.6,44.2,30,330,2700,30.0,27,23,...,0.90,0.77,1.67,0.90,1.67,1.01,0.78,1.79,0.95,1.73
7,Everton,28,27.3,43.5,30,330,2700,30.0,22,18,...,0.73,0.60,1.33,0.67,1.27,1.08,0.78,1.87,1.03,1.82
8,Fulham,29,29.0,48.3,29,319,2610,29.0,36,22,...,1.24,0.76,2.00,1.10,1.86,1.21,0.74,1.96,1.02,1.77
9,Leeds United,28,25.8,48.7,30,330,2700,30.0,37,27,...,1.23,0.90,2.13,1.20,2.10,1.25,0.87,2.12,1.20,2.06
10,Leicester City,28,27.0,49.3,30,330,2700,30.0,38,28,...,1.27,0.93,2.20,1.23,2.17,1.19,0.98,2.17,1.14,2.12
11,Liverpool,27,28.2,58.9,29,319,2610,29.0,46,37,...,1.59,1.28,2.86,1.59,2.86,1.79,1.38,3.17,1.74,3.12
12,Manchester City,22,28.0,64.7,29,319,2610,29.0,73,54,...,2.52,1.86,4.38,2.28,4.14,2.13,1.54,3.67,1.94,3.48
13,Manchester Utd,26,27.6,53.4,29,319,2610,29.0,42,34,...,1.45,1.17,2.62,1.38,2.55,1.58,1.24,2.82,1.52,2.76
14,Newcastle Utd,26,28.1,51.4,29,319,2610,29.0,46,31,...,1.59,1.07,2.66,1.45,2.52,1.72,1.29,3.02,1.62,2.91
15,Nott'ham Forest,33,27.3,40.2,30,330,2700,30.0,23,14,...,0.77,0.47,1.23,0.73,1.20,1.02,0.73,1.75,0.94,1.67
16,Southampton,31,25.2,44.9,30,330,2700,30.0,24,16,...,0.80,0.53,1.33,0.77,1.30,0.95,0.72,1.67,0.87,1.58
17,Tottenham,27,28.4,50.3,30,330,2700,30.0,53,35,...,1.77,1.17,2.93,1.63,2.80,1.44,1.06,2.50,1.31,2.37
18,West Ham,25,28.8,42.8,29,319,2610,29.0,26,14,...,0.90,0.48,1.38,0.72,1.21,1.27,0.82,2.09,1.11,1.93
19,Wolves,31,27.4,50.5,30,330,2700,30.0,22,10,...,0.73,0.33,1.07,0.67,1.00,1.00,0.71,1.71,0.95,1.66

In [ ]:
# renaming column name to make them more readable
df_temp2=df_temp2.rename(columns={'Unnamed: 0_level_0_Squad':'Squad', 'Unnamed: 1_level_0_# Pl':'Number of Players','Unnamed: 2_level_0_Age':'Avg Age',
                        'Unnamed: 3_level_0_Poss':'Avg Possession' })
df_temp2

,Squad,Number of Players,Avg Age,Avg Possession,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,26,25.2,59.6,30,330,2700,30.0,69,52,...,2.30,1.73,4.03,2.20,3.93,1.96,1.45,3.42,1.90,3.35
1,Aston Villa,26,27.7,49.5,30,330,2700,30.0,39,26,...,1.30,0.87,2.17,1.20,2.07,1.28,0.97,2.25,1.20,2.17
2,Bournemouth,31,27.1,38.9,30,330,2700,30.0,28,19,...,0.93,0.63,1.57,0.93,1.57,1.00,0.72,1.71,1.00,1.71
3,Brentford,25,27.0,43.4,30,330,2700,30.0,46,27,...,1.53,0.90,2.43,1.30,2.20,1.47,0.99,2.46,1.26,2.25
4,Brighton,26,27.4,59.9,28,308,2520,28.0,48,32,...,1.71,1.14,2.86,1.54,2.68,1.82,1.35,3.17,1.70,3.05
5,Chelsea,32,27.2,59.1,30,330,2700,30.0,29,20,...,0.97,0.67,1.63,0.87,1.53,1.30,1.00,2.30,1.22,2.22
6,Crystal Palace,26,27.6,44.2,30,330,2700,30.0,27,23,...,0.90,0.77,1.67,0.90,1.67,1.01,0.78,1.79,0.95,1.73
7,Everton,28,27.3,43.5,30,330,2700,30.0,22,18,...,0.73,0.60,1.33,0.67,1.27,1.08,0.78,1.87,1.03,1.82
8,Fulham,29,29.0,48.3,29,319,2610,29.0,36,22,...,1.24,0.76,2.00,1.10,1.86,1.21,0.74,1.96,1.02,1.77
9,Leeds United,28,25.8,48.7,30,330,2700,30.0,37,27,...,1.23,0.90,2.13,1.20,2.10,1.25,0.87,2.12,1.20,2.06
10,Leicester City,28,27.0,49.3,30,330,2700,30.0,38,28,...,1.27,0.93,2.20,1.23,2.17,1.19,0.98,2.17,1.14,2.12
11,Liverpool,27,28.2,58.9,29,319,2610,29.0,46,37,...,1.59,1.28,2.86,1.59,2.86,1.79,1.38,3.17,1.74,3.12
12,Manchester City,22,28.0,64.7,29,319,2610,29.0,73,54,...,2.52,1.86,4.38,2.28,4.14,2.13,1.54,3.67,1.94,3.48
13,Manchester Utd,26,27.6,53.4,29,319,2610,29.0,42,34,...,1.45,1.17,2.62,1.38,2.55,1.58,1.24,2.82,1.52,2.76
14,Newcastle Utd,26,28.1,51.4,29,319,2610,29.0,46,31,...,1.59,1.07,2.66,1.45,2.52,1.72,1.29,3.02,1.62,2.91
15,Nott'ham Forest,33,27.3,40.2,30,330,2700,30.0,23,14,...,0.77,0.47,1.23,0.73,1.20,1.02,0.73,1.75,0.94,1.67
16,Southampton,31,25.2,44.9,30,330,2700,30.0,24,16,...,0.80,0.53,1.33,0.77,1.30,0.95,0.72,1.67,0.87,1.58
17,Tottenham,27,28.4,50.3,30,330,2700,30.0,53,35,...,1.77,1.17,2.93,1.63,2.80,1.44,1.06,2.50,1.31,2.37
18,West Ham,25,28.8,42.8,29,319,2610,29.0,26,14,...,0.90,0.48,1.38,0.72,1.21,1.27,0.82,2.09,1.11,1.93
19,Wolves,31,27.4,50.5,30,330,2700,30.0,22,10,...,0.73,0.33,1.07,0.67,1.00,1.00,0.71,1.71,0.95,1.66

In [ ]:
df_temp2.columns=df_temp2.columns.str.replace('Minutes','')
df_temp2.columns=df_temp2.columns.str.replace('Playing Time_','')

In [ ]:
df_temp2

,Squad,Number of Players,Avg Age,Avg Possession,MP,Starts,Min,90s,Performance_Gls,Performance_Ast,...,Per 90 _Gls,Per 90 _Ast,Per 90 _G+A,Per 90 _G-PK,Per 90 _G+A-PK,Per 90 _xG,Per 90 _xAG,Per 90 _xG+xAG,Per 90 _npxG,Per 90 _npxG+xAG
0,Arsenal,26,25.2,59.6,30,330,2700,30.0,69,52,...,2.30,1.73,4.03,2.20,3.93,1.96,1.45,3.42,1.90,3.35
1,Aston Villa,26,27.7,49.5,30,330,2700,30.0,39,26,...,1.30,0.87,2.17,1.20,2.07,1.28,0.97,2.25,1.20,2.17
2,Bournemouth,31,27.1,38.9,30,330,2700,30.0,28,19,...,0.93,0.63,1.57,0.93,1.57,1.00,0.72,1.71,1.00,1.71
3,Brentford,25,27.0,43.4,30,330,2700,30.0,46,27,...,1.53,0.90,2.43,1.30,2.20,1.47,0.99,2.46,1.26,2.25
4,Brighton,26,27.4,59.9,28,308,2520,28.0,48,32,...,1.71,1.14,2.86,1.54,2.68,1.82,1.35,3.17,1.70,3.05
5,Chelsea,32,27.2,59.1,30,330,2700,30.0,29,20,...,0.97,0.67,1.63,0.87,1.53,1.30,1.00,2.30,1.22,2.22
6,Crystal Palace,26,27.6,44.2,30,330,2700,30.0,27,23,...,0.90,0.77,1.67,0.90,1.67,1.01,0.78,1.79,0.95,1.73
7,Everton,28,27.3,43.5,30,330,2700,30.0,22,18,...,0.73,0.60,1.33,0.67,1.27,1.08,0.78,1.87,1.03,1.82
8,Fulham,29,29.0,48.3,29,319,2610,29.0,36,22,...,1.24,0.76,2.00,1.10,1.86,1.21,0.74,1.96,1.02,1.77
9,Leeds United,28,25.8,48.7,30,330,2700,30.0,37,27,...,1.23,0.90,2.13,1.20,2.10,1.25,0.87,2.12,1.20,2.06
10,Leicester City,28,27.0,49.3,30,330,2700,30.0,38,28,...,1.27,0.93,2.20,1.23,2.17,1.19,0.98,2.17,1.14,2.12
11,Liverpool,27,28.2,58.9,29,319,2610,29.0,46,37,...,1.59,1.28,2.86,1.59,2.86,1.79,1.38,3.17,1.74,3.12
12,Manchester City,22,28.0,64.7,29,319,2610,29.0,73,54,...,2.52,1.86,4.38,2.28,4.14,2.13,1.54,3.67,1.94,3.48
13,Manchester Utd,26,27.6,53.4,29,319,2610,29.0,42,34,...,1.45,1.17,2.62,1.38,2.55,1.58,1.24,2.82,1.52,2.76
14,Newcastle Utd,26,28.1,51.4,29,319,2610,29.0,46,31,...,1.59,1.07,2.66,1.45,2.52,1.72,1.29,3.02,1.62,2.91
15,Nott'ham Forest,33,27.3,40.2,30,330,2700,30.0,23,14,...,0.77,0.47,1.23,0.73,1.20,1.02,0.73,1.75,0.94,1.67
16,Southampton,31,25.2,44.9,30,330,2700,30.0,24,16,...,0.80,0.53,1.33,0.77,1.30,0.95,0.72,1.67,0.87,1.58
17,Tottenham,27,28.4,50.3,30,330,2700,30.0,53,35,...,1.77,1.17,2.93,1.63,2.80,1.44,1.06,2.50,1.31,2.37
18,West Ham,25,28.8,42.8,29,319,2610,29.0,26,14,...,0.90,0.48,1.38,0.72,1.21,1.27,0.82,2.09,1.11,1.93
19,Wolves,31,27.4,50.5,30,330,2700,30.0,22,10,...,0.73,0.33,1.07,0.67,1.00,1.00,0.71,1.71,0.95,1.66

In [ ]:
df[4]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
                Squad               # Pl           MP Starts   Min   90s
0             Arsenal                  1           30     30  2700  30.0
1         Aston Villa                  2           30     30  2700  30.0
2         Bournemouth                  2           30     30  2700  30.0
3           Brentford                  1           30     30  2700  30.0
4            Brighton                  2           28     28  2520  28.0
5             Chelsea                  2           30     30  2700  30.0
6      Crystal Palace                  3           30     30  2700  30.0
7             Everton                  2           30     30  2700  30.0
8              Fulham                  2           29     29  2610  29.0
9        Leeds United                  1           30     30  2700  30.0
10     Leicester City                  2           30     30  2700  30.0
11          Liverpool                  1           29     29  2610  29.0
12    Manchester City                  1           29     29  2610  29.0
13     Manchester Utd                  1           29     29  2610  29.0
14      Newcastle Utd                  2           29     29  2608  29.0
15    Nott'ham Forest                  3           30     30  2700  30.0
16        Southampton                  1           30     30  2700  30.0
17          Tottenham                  2           30     30  2700  30.0
18           West Ham                  2           29     29  2610  29.0
19             Wolves                  1           30     30  2700  30.0

   Performance                   ...                       Penalty Kicks      \
            GA  GA90 SoTA Saves  ...   W   D   L  CS   CS%         PKatt PKA
0           29  0.97  101    73  ...  23   4   3  12  40.0             4   2
1           40  1.33  125    88  ...  14   5  11  10  33.3             5   4
2           57  1.90  157   103  ...   8   6  16   7  23.3             7   6
3           40  1.33  161   124  ...  10  13   7   9  30.0             2   2
4           36  1.29   92    58  ...  13   7   8   9  32.1             6   5
5           31  1.03  118    89  ...  10   9  11  10  33.3             0   0
6           40  1.33  133    95  ...   8   9  13   6  20.0             2   2
7           43  1.43  149   106  ...   6   9  15   7  23.3             5   5
8           40  1.38  149   110  ...  11   6  12   8  27.6             4   4
9           54  1.80  136    83  ...   7   8  15   5  16.7             3   3
10          52  1.73  142    93  ...   7   4  19   6  20.0             3   2
11          35  1.21  120    86  ...  12   8   9  11  37.9             3   2
12          27  0.93   62    36  ...  21   4   4  10  34.5             3   3
13          37  1.28  112    76  ...  17   5   7  13  44.8             1   1
14          21  0.72   93    71  ...  15  11   3  13  44.8             4   2
15          54  1.80  138    82  ...   6   9  15   7  23.3             8   5
16          51  1.70  113    65  ...   6   5  19   4  13.3             2   1
17          42  1.40  135    93  ...  16   5   9   9  30.0             3   2
18          39  1.34  123    84  ...   8   6  15   7  24.1             4   3
19          42  1.40  128    85  ...   8   7  15   8  26.7             3   1


   PKsv PKm Save%
0     0   2   0.0
1     1   0  20.0
2     0   1   0.0
3     0   0   0.0
4     1   0  16.7
5     0   0   NaN
6     0   0   0.0
7     0   0   0.0
8     0   0   0.0
9     0   0   0.0
10    1   0  33.3
11    1   0  33.3
12    0   0   0.0
13    0   0   0.0
14    1   1  33.3
15    2   1  28.6
16    1   0  50.0
17    1   0  33.3
18    1   0  25.0
19    2   0  66.7

[20 rows x 21 columns]

In [ ]:
df_temp4=df[4].copy()
header1=df_temp4.columns.get_level_values(0)
header2=df_temp4.columns.get_level_values(1)
df_temp4.columns=header1+ "_"+ header2

In [ ]:
df_temp4

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_GA,Performance_GA90,Performance_SoTA,Performance_Saves,...,Performance_W,Performance_D,Performance_L,Performance_CS,Performance_CS%,Penalty Kicks_PKatt,Penalty Kicks_PKA,Penalty Kicks_PKsv,Penalty Kicks_PKm,Penalty Kicks_Save%
0,Arsenal,1,30,30,2700,30.0,29,0.97,101,73,...,23,4,3,12,40.0,4,2,0,2,0.0
1,Aston Villa,2,30,30,2700,30.0,40,1.33,125,88,...,14,5,11,10,33.3,5,4,1,0,20.0
2,Bournemouth,2,30,30,2700,30.0,57,1.90,157,103,...,8,6,16,7,23.3,7,6,0,1,0.0
3,Brentford,1,30,30,2700,30.0,40,1.33,161,124,...,10,13,7,9,30.0,2,2,0,0,0.0
4,Brighton,2,28,28,2520,28.0,36,1.29,92,58,...,13,7,8,9,32.1,6,5,1,0,16.7
5,Chelsea,2,30,30,2700,30.0,31,1.03,118,89,...,10,9,11,10,33.3,0,0,0,0,NaN
6,Crystal Palace,3,30,30,2700,30.0,40,1.33,133,95,...,8,9,13,6,20.0,2,2,0,0,0.0
7,Everton,2,30,30,2700,30.0,43,1.43,149,106,...,6,9,15,7,23.3,5,5,0,0,0.0
8,Fulham,2,29,29,2610,29.0,40,1.38,149,110,...,11,6,12,8,27.6,4,4,0,0,0.0
9,Leeds United,1,30,30,2700,30.0,54,1.80,136,83,...,7,8,15,5,16.7,3,3,0,0,0.0
10,Leicester City,2,30,30,2700,30.0,52,1.73,142,93,...,7,4,19,6,20.0,3,2,1,0,33.3
11,Liverpool,1,29,29,2610,29.0,35,1.21,120,86,...,12,8,9,11,37.9,3,2,1,0,33.3
12,Manchester City,1,29,29,2610,29.0,27,0.93,62,36,...,21,4,4,10,34.5,3,3,0,0,0.0
13,Manchester Utd,1,29,29,2610,29.0,37,1.28,112,76,...,17,5,7,13,44.8,1,1,0,0,0.0
14,Newcastle Utd,2,29,29,2608,29.0,21,0.72,93,71,...,15,11,3,13,44.8,4,2,1,1,33.3
15,Nott'ham Forest,3,30,30,2700,30.0,54,1.80,138,82,...,6,9,15,7,23.3,8,5,2,1,28.6
16,Southampton,1,30,30,2700,30.0,51,1.70,113,65,...,6,5,19,4,13.3,2,1,1,0,50.0
17,Tottenham,2,30,30,2700,30.0,42,1.40,135,93,...,16,5,9,9,30.0,3,2,1,0,33.3
18,West Ham,2,29,29,2610,29.0,39,1.34,123,84,...,8,6,15,7,24.1,4,3,1,0,25.0
19,Wolves,1,30,30,2700,30.0,42,1.40,128,85,...,8,7,15,8,26.7,3,1,2,0,66.7

In [ ]:
def sum(a,b): 
 c=a+b
 return c
def func(d):
 e=sum(5,7)/d
 return e
func(2)

6.0

In [ ]:
df_temp4=df_temp4.rename(columns={'Unnamed: 0_level_0_Squad':'Squad','Playing Time_MP': 'Matches Played','Unnamed: 1_level_0_# Pl':'Players Used'})

In [ ]:
df_temp4

,Squad,Players Used,Matches Played,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_GA,Performance_GA90,Performance_SoTA,Performance_Saves,...,Performance_W,Performance_D,Performance_L,Performance_CS,Performance_CS%,Penalty Kicks_PKatt,Penalty Kicks_PKA,Penalty Kicks_PKsv,Penalty Kicks_PKm,Penalty Kicks_Save%
0,Arsenal,1,30,30,2700,30.0,29,0.97,101,73,...,23,4,3,12,40.0,4,2,0,2,0.0
1,Aston Villa,2,30,30,2700,30.0,40,1.33,125,88,...,14,5,11,10,33.3,5,4,1,0,20.0
2,Bournemouth,2,30,30,2700,30.0,57,1.90,157,103,...,8,6,16,7,23.3,7,6,0,1,0.0
3,Brentford,1,30,30,2700,30.0,40,1.33,161,124,...,10,13,7,9,30.0,2,2,0,0,0.0
4,Brighton,2,28,28,2520,28.0,36,1.29,92,58,...,13,7,8,9,32.1,6,5,1,0,16.7
5,Chelsea,2,30,30,2700,30.0,31,1.03,118,89,...,10,9,11,10,33.3,0,0,0,0,NaN
6,Crystal Palace,3,30,30,2700,30.0,40,1.33,133,95,...,8,9,13,6,20.0,2,2,0,0,0.0
7,Everton,2,30,30,2700,30.0,43,1.43,149,106,...,6,9,15,7,23.3,5,5,0,0,0.0
8,Fulham,2,29,29,2610,29.0,40,1.38,149,110,...,11,6,12,8,27.6,4,4,0,0,0.0
9,Leeds United,1,30,30,2700,30.0,54,1.80,136,83,...,7,8,15,5,16.7,3,3,0,0,0.0
10,Leicester City,2,30,30,2700,30.0,52,1.73,142,93,...,7,4,19,6,20.0,3,2,1,0,33.3
11,Liverpool,1,29,29,2610,29.0,35,1.21,120,86,...,12,8,9,11,37.9,3,2,1,0,33.3
12,Manchester City,1,29,29,2610,29.0,27,0.93,62,36,...,21,4,4,10,34.5,3,3,0,0,0.0
13,Manchester Utd,1,29,29,2610,29.0,37,1.28,112,76,...,17,5,7,13,44.8,1,1,0,0,0.0
14,Newcastle Utd,2,29,29,2608,29.0,21,0.72,93,71,...,15,11,3,13,44.8,4,2,1,1,33.3
15,Nott'ham Forest,3,30,30,2700,30.0,54,1.80,138,82,...,6,9,15,7,23.3,8,5,2,1,28.6
16,Southampton,1,30,30,2700,30.0,51,1.70,113,65,...,6,5,19,4,13.3,2,1,1,0,50.0
17,Tottenham,2,30,30,2700,30.0,42,1.40,135,93,...,16,5,9,9,30.0,3,2,1,0,33.3
18,West Ham,2,29,29,2610,29.0,39,1.34,123,84,...,8,6,15,7,24.1,4,3,1,0,25.0
19,Wolves,1,30,30,2700,30.0,42,1.40,128,85,...,8,7,15,8,26.7,3,1,2,0,66.7

In [ ]:
df_temp4.head()

,Squad,Players Used,Matches Played,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_GA,Performance_GA90,Performance_SoTA,Performance_Saves,...,Performance_W,Performance_D,Performance_L,Performance_CS,Performance_CS%,Penalty Kicks_PKatt,Penalty Kicks_PKA,Penalty Kicks_PKsv,Penalty Kicks_PKm,Penalty Kicks_Save%
0,Arsenal,1,30,30,2700,30.0,29,0.97,101,73,...,23,4,3,12,40.0,4,2,0,2,0.0
1,Aston Villa,2,30,30,2700,30.0,40,1.33,125,88,...,14,5,11,10,33.3,5,4,1,0,20.0
2,Bournemouth,2,30,30,2700,30.0,57,1.90,157,103,...,8,6,16,7,23.3,7,6,0,1,0.0
3,Brentford,1,30,30,2700,30.0,40,1.33,161,124,...,10,13,7,9,30.0,2,2,0,0,0.0
4,Brighton,2,28,28,2520,28.0,36,1.29,92,58,...,13,7,8,9,32.1,6,5,1,0,16.7

In [ ]:
df_temp4.describe().round(2)

,Players Used,Matches Played,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_GA,Performance_GA90,Performance_SoTA,Performance_Saves,Performance_W,Performance_D,Performance_L,Performance_CS,Performance_CS%,Penalty Kicks_PKatt,Penalty Kicks_PKA,Penalty Kicks_PKsv,Penalty Kicks_PKm,Penalty Kicks_Save%
count,20.00,20.0,20.0,20.00,20.0,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,19.00
mean,1.70,29.6,29.6,2663.90,29.6,40.50,1.36,124.35,85.00,11.30,7.00,11.30,8.55,28.95,3.60,2.75,0.60,0.25,17.91
std,0.66,0.6,0.6,53.95,0.6,9.57,0.31,24.35,19.37,5.02,2.47,4.93,2.52,8.79,1.93,1.62,0.68,0.55,20.30
min,1.00,28.0,28.0,2520.00,28.0,21.00,0.72,62.00,36.00,6.00,4.00,3.00,4.00,13.30,0.00,0.00,0.00,0.00,0.00
25%,1.00,29.0,29.0,2610.00,29.0,35.75,1.26,112.75,75.25,7.75,5.00,7.75,7.00,23.30,2.75,2.00,0.00,0.00,0.00
50%,2.00,30.0,30.0,2700.00,30.0,40.00,1.34,126.50,85.50,10.00,6.50,11.50,8.50,28.80,3.00,2.00,0.50,0.00,16.70
75%,2.00,30.0,30.0,2700.00,30.0,45.00,1.50,139.00,93.50,14.25,9.00,15.00,10.00,33.60,4.25,4.00,1.00,0.00,33.30
max,3.00,30.0,30.0,2700.00,30.0,57.00,1.90,161.00,124.00,23.00,13.00,19.00,13.00,44.80,8.00,6.00,2.00,2.00,66.70

In [ ]:
df_temp4[['Squad','Performance_Save%']]

              Squad Performance_Save%
0           Arsenal        73.300000%
1       Aston Villa        71.200000%
2       Bournemouth        67.500000%
3         Brentford        76.400000%
4          Brighton        66.300000%
5           Chelsea        73.700000%
6    Crystal Palace        71.400000%
7           Everton        74.500000%
8            Fulham        75.800000%
9      Leeds United        62.500000%
10   Leicester City        64.800000%
11        Liverpool        72.500000%
12  Manchester City        61.300000%
13   Manchester Utd        67.900000%
14    Newcastle Utd        79.600000%
15  Nott'ham Forest        64.500000%
16      Southampton        55.800000%
17        Tottenham        70.400000%
18         West Ham        70.700000%
19           Wolves        68.000000%

In [ ]:
df_temp4['Performance_Save%']=(df_temp4['Performance_Save%']/100).map('{:2%}'.format) # Formating the Save% to % string

TypeError: ignored

In [ ]:
df_temp4['Performance_CS%']=(df_temp4['Performance_CS%']/100).map('{:2%}'.format)

TypeError: ignored

In [ ]:
df_temp4[['Squad','Performance_Save%','Performance_CS%']]

              Squad Performance_Save% Performance_CS%
0           Arsenal        73.300000%      40.000000%
1       Aston Villa        71.200000%      33.300000%
2       Bournemouth        67.500000%      23.300000%
3         Brentford        76.400000%      30.000000%
4          Brighton        66.300000%      32.100000%
5           Chelsea        73.700000%      33.300000%
6    Crystal Palace        71.400000%      20.000000%
7           Everton        74.500000%      23.300000%
8            Fulham        75.800000%      27.600000%
9      Leeds United        62.500000%      16.700000%
10   Leicester City        64.800000%      20.000000%
11        Liverpool        72.500000%      37.900000%
12  Manchester City        61.300000%      34.500000%
13   Manchester Utd        67.900000%      44.800000%
14    Newcastle Utd        79.600000%      44.800000%
15  Nott'ham Forest        64.500000%      23.300000%
16      Southampton        55.800000%      13.300000%
17        Tottenham        70.400000%      30.000000%
18         West Ham        70.700000%      24.100000%
19           Wolves        68.000000%      26.700000%

In [ ]:
df_temp4['Performance_CS%']=df_temp4['Performance_CS%'].str.rstrip('%').astype(float) # stripping the CS% of the % sign and then type casting the value back to float

AttributeError: ignored

In [ ]:
df_temp4['Performance_Save%']=df_temp4['Performance_Save%'].str.rstrip('%').astype(float)

In [ ]:
pio.templates.default = "plotly_dark" # using plotly.module to set the default template to dark and default text to white
fig=go.Figure()
fig.add_trace(
    go.Scatter(
        x=df_temp4['Performance_Save%'],y=df_temp4['Performance_CS%'], 
        mode='markers+text',                                           # defining the mode to be dots(marker) and enabling text for the labels
        text=df_temp4['Squad'],                                        # Data labels
        textposition='top center',
        marker=dict(size=10,color='red')                               # defining the size of the marker and other attributes of the marker
              ))
fig.update_layout(title="Save% vs Clean Sheet%",xaxis_title="Save %", yaxis_title="Clean Sheet %")
fig.show()

In [ ]:
df_player=pd.read_html('https://fbref.com/en/comps/9/stats/Premier-League-Stats#stats_standard',flavor='lxml',match='.*')
print(f'Total {len(df_player)} tables on the page') # print the number of tables read by pandas, using F-string to embed the lenght function

Total 2 tables on the page

In [ ]:
df_player

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                Age
 0             Arsenal                 26               25.2
 1         Aston Villa                 26               27.7
 2         Bournemouth                 31               27.1
 3           Brentford                 25               27.0
 4            Brighton                 26               27.4
 5             Chelsea                 32               27.2
 6      Crystal Palace                 26               27.6
 7             Everton                 28               27.4
 8              Fulham                 29               29.0
 9        Leeds United                 28               25.8
 10     Leicester City                 28               27.0
 11          Liverpool                 27               28.2
 12    Manchester City                 22               28.0
 13     Manchester Utd                 26               27.6
 14      Newcastle Utd                 26               28.1
 15    Nott'ham Forest                 33               27.3
 16        Southampton                 31               25.2
 17          Tottenham                 27               28.4
 18           West Ham                 25               28.8
 19             Wolves                 31               27.4

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                59.6           30    330  2700  30.0          69  52  ...
 1                49.5           30    330  2700  30.0          39  26  ...
 2                38.9           30    330  2700  30.0          28  19  ...
 3                43.4           30    330  2700  30.0          46  27  ...
 4                59.9           28    308  2520  28.0          48  32  ...
 5                59.1           30    330  2700  30.0          29  20  ...
 6                44.2           30    330  2700  30.0          27  23  ...
 7                43.5           30    330  2700  30.0          22  18  ...
 8                48.3           29    319  2610  29.0          36  22  ...
 9                48.7           30    330  2700  30.0          37  27  ...
 10               49.3           30    330  2700  30.0          38  28  ...
 11               58.9           29    319  2610  29.0          46  37  ...
 12               64.7           29    319  2610  29.0          73  54  ...
 13               53.4           29    319  2610  29.0          42  34  ...
 14               51.4           29    319  2610  29.0          46  31  ...
 15               40.2           30    330  2700  30.0          23  14  ...
 16               44.9           30    330  2700  30.0          24  16  ...
 17               50.3           30    330  2700  30.0          53  35  ...
 18               42.8           29    319  2610  29.0          26  14  ...
 19               50.5           30    330  2700  30.0          22  10  ...

    Per 90 Minutes
               Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
 0            2.30  1.73  4.03  2.20   3.93  1.96  1.45   3.42  1.90     3.35
 1            1.30  0.87  2.17  1.20   2.07  1.28  0.97   2.25  1.20     2.17
 2            0.93  0.63  1.57  0.93   1.57  1.00  0.72   1.71  1.00     1.71
 3            1.53  0.90  2.43  1.30   2.20  1.47  0.99   2.46  1.26     2.25
 4            1.71  1.14  2.86  1.54   2.68  1.82  1.35   3.17  1.70     3.05
 5            0.97  0.67  1.63  0.87   1.53  1.30  1.00   2.30  1.22     2.22
 6            0.90  0.77  1.67  0.90   1.67  1.01  0.78   1.79  0.95     1.73
 7            0.73  0.60  1.33  0.67   1.27  1.08  0.78   1.87  1.03     1.82
 8            1.24  0.76  2.00  1.10   1.86  1.21  0.74   1.96  1.02     1.77
 9            1.23  0.90  2.13  1.20   2.10  1.25  0.87   2.12  1.20     2.06
 10           1.27  0.93  2.20  1.23   2.17  1.19  0.98   2.17  1.14     2.12
 11           1.59  1.28  2.86  1.59   2.86  1.79  1.38   3.17  1.74     3.12
 12           2.52  1.86  4.38  2.28   4.14  2.13  1.54   3.67  1.94     3.48
 13           1.45  1.17  2.62  1.38   2.55  1.58  1.24   2.82  1.52     2.76
 14           1.59  1.07  2.66  1.45   2.52  1.72  1.29   3.02  1.62     2.91
 15           0.77  0.47  1.23  0.73   1.20  1.02  0.73   1.75  0.94     1.67
 16           0.80  0.53  1.33  0.77   1.30  0.95  0.72   1.67  0.87     1.58
 17           1.77  1.17  2.93  1.63   2.80  1.44  1.06   2.50  1.31     2.37
 18           0.90  0.48  1.38  0.72   1.21  1.27  0.82   2.09  1.11     1.93
 19           0.73  0.33  1.07  0.67   1.00  1.00  0.71   1.71  0.95     1.66

 [20 rows x 32 columns],
     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Squad               # Pl                Age
 0           vs Arsenal                 26               27.5
 1       vs Aston Villa                 26               27.2
 2       vs Bournemouth                 31               27.3
 3         vs Brentford                 25               27.2
 4          vs Brighton                 26               27.4
 5           vs Chelsea                 32               27.4
 6    vs Crystal Palace                 26               27.2
 7           vs Everton                 28               27.2
 8            vs Fulham                 29               27.5
 9      vs Leeds United                 28               27.3
 10   vs Leicester City                 28               27.2
 11        vs Liverpool                 27               27.3
 12  vs Manchester City                 22               27.5
 13   vs Manchester Utd                 26               27.2
 14    vs Newcastle Utd                 26               27.7
 15  vs Nott'ham Forest                 33               27.7
 16      vs Southampton                 31               27.5
 17        vs Tottenham                 27               27.4
 18         vs West Ham                 25               27.4
 19           vs Wolves                 31               27.1

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                40.4           30    330  2700  30.0          28  17  ...
 1                50.5           30    330  2700  30.0          36  21  ...
 2                61.2           30    330  2700  30.0          54  38  ...
 3                56.6           30    330  2700  30.0          37  27  ...
 4                40.1           28    308  2520  28.0          33  21  ...
 5                40.9           30    330  2700  30.0          29  20  ...
 6                55.8           30    330  2700  30.0          38  28  ...
 7                56.5           30    330  2700  30.0          43  28  ...
 8                51.7           29    319  2610  29.0          39  23  ...
 9                51.3           30    330  2700  30.0          53  34  ...
 10               50.7           30    330  2700  30.0          47  34  ...
 11               41.1           29    319  2610  29.0          33  23  ...
 12               35.4           29    319  2610  29.0          26  17  ...
 13               46.6           29    319  2610  29.0          36  25  ...
 14               48.6           29    319  2610  29.0          21  16  ...
 15               59.8           30    330  2700  30.0          54  36  ...
 16               55.1           30    330  2700  30.0          47  39  ...
 17               49.7           30    330  2700  30.0          41  30  ...
 18               57.2           29    319  2610  29.0          38  30  ...
 19               49.5           30    330  2700  30.0          41  32  ...

    Per 90 Minutes
               Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
 0            0.93  0.57  1.50  0.87   1.43  1.05  0.77   1.83  0.95     1.72
 1            1.20  0.70  1.90  1.07   1.77  1.46  0.99   2.44  1.33     2.32
 2            1.80  1.27  3.07  1.60   2.87  1.73  1.21   2.94  1.55     2.76
 3            1.23  0.90  2.13  1.17   2.07  1.33  0.97   2.29  1.29     2.25
 4            1.18  0.75  1.93  1.00   1.75  1.18  0.73   1.91  1.01     1.73
 5            0.97  0.67  1.63  0.97   1.63  1.21  0.95   2.15  1.21     2.15
 6            1.27  0.93  2.20  1.20   2.13  1.35  1.00   2.35  1.30     2.30
 7            1.43  0.93  2.37  1.27   2.20  1.72  1.24   2.97  1.60     2.84
 8            1.34  0.79  2.14  1.21   2.00  1.68  1.21   2.89  1.59     2.80
 9            1.77  1.13  2.90  1.67   2.80  1.65  1.26   2.91  1.57     2.83
 10           1.57  1.13  2.70  1.50   2.63  1.64  1.27   2.91  1.56     2.83
 11           1.14  0.79  1.93  1.07   1.86  1.42  1.08   2.50  1.35     2.43
 12           0.90  0.59  1.48  0.79   1.38  0.77  0.57   1.34  0.68     1.26
 13           1.24  0.86  2.10  1.21   2.07  1.31  0.98   2.29  1.28     2.27
 14           0.72  0.55  1.28  0.66   1.21  0.99  0.74   1.74  0.89     1.63
 15           1.80  1.20  3.00  1.63   2.83  1.59  1.10   2.69  1.39     2.49
 16           1.57  1.30  2.87  1.53   2.83  1.42  1.12   2.54  1.37     2.49
 17           1.37  1.00  2.37  1.30   2.30  1.20  0.86   2.07  1.13     1.99
 18           1.31  1.03  2.34  1.21   2.24  1.23  0.93   2.16  1.12     2.05
 19           1.37  1.07  2.43  1.33   2.40  1.43  1.05   2.48  1.35     2.40

 [20 rows x 32 columns]]

In [ ]:
from bs4 import BeautifulSoup
import requests

url = 'https://fbref.com/en/comps/9/stats/Premier-League-Stats#stats_standard'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

tables = soup.find_all('table')  # find all table elements in the page

for table in tables:
    thead = table.find('thead')  # find the table header row
    headers = [th.text.strip() for th in thead.find_all('th')]  # extract the text from each header cell
    print(headers)

    tbody = table.find('tbody')  # find the table body
    rows = tbody.find_all('tr')  # find all rows in the table body

    for row in rows:
        cells = row.find_all('td')  # find all cells in the row
        values = [cell.text.strip() for cell in cells]  # extract the text from each cell
        print(values)

['', 'Playing Time', 'Performance', 'Expected', 'Progression', 'Per 90 Minutes', 'Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG']
['26', '25.2', '59.6', '30', '330', '2,700', '30.0', '69', '52', '121', '66', '3', '3', '43', '0', '58.9', '56.9', '43.5', '100.4', '669', '1651', '2.30', '1.73', '4.03', '2.20', '3.93', '1.96', '1.45', '3.42', '1.90', '3.35']
['26', '27.7', '49.5', '30', '330', '2,700', '30.0', '39', '26', '65', '36', '3', '3', '59', '1', '38.4', '36.1', '29.0', '65.2', '489', '1003', '1.30', '0.87', '2.17', '1.20', '2.07', '1.28', '0.97', '2.25', '1.20', '2.17']
['31', '27.1', '38.9', '30', '330', '2,700', '30.0', '28', '19', '47', '28', '0', '0', '54', '0', '29.9', '29.9', '21.5', '51.4', '371', '756', '0.93', '0.63', '1.57', '0.93', '1.57', '1.00', '0.72', '1.71', '1.00', '1.71']
['25', '27.0', '43.4', '30', '330', '2,700', '30.0', '46', '27', '73', '39', '7', '8', '42', '1', '44.0', '37.8', '29.7', '67.5', '295', '888', '1.53', '0.90', '2.43', '1.30', '2.20', '1.47', '0.99', '2.46', '1.26', '2.25']
['26', '27.4', '59.9', '28', '308', '2,520', '28.0', '48', '32', '80', '43', '5', '5', '36', '0', '51.0', '47.5', '37.8', '85.3', '580', '1388', '1.71', '1.14', '2.86', '1.54', '2.68', '1.82', '1.35', '3.17', '1.70', '3.05']
['32', '27.2', '59.1', '30', '330', '2,700', '30.0', '29', '20', '49', '26', '3', '3', '67', '3', '39.0', '36.7', '30.0', '66.7', '624', '1366', '0.97', '0.67', '1.63', '0.87', '1.53', '1.30', '1.00', '2.30', '1.22', '2.22']
['26', '27.6', '44.2', '30', '330', '2,700', '30.0', '27', '23', '50', '27', '0', '2', '70', '3', '30.2', '28.5', '23.5', '52.0', '398', '945', '0.90', '0.77', '1.67', '0.90', '1.67', '1.01', '0.78', '1.79', '0.95', '1.73']
['28', '27.4', '43.5', '30', '330', '2,700', '30.0', '22', '18', '40', '20', '2', '2', '64', '1', '32.5', '31.0', '23.5', '54.5', '399', '819', '0.73', '0.60', '1.33', '0.67', '1.27', '1.08', '0.78', '1.87', '1.03', '1.82']
['29', '29.0', '48.3', '29', '319', '2,610', '29.0', '36', '22', '58', '32', '4', '7', '69', '1', '35.2', '29.7', '21.5', '51.2', '498', '1018', '1.24', '0.76', '2.00', '1.10', '1.86', '1.21', '0.74', '1.96', '1.02', '1.77']
['28', '25.8', '48.7', '30', '330', '2,700', '30.0', '37', '27', '64', '36', '1', '2', '68', '2', '37.5', '35.9', '26.1', '61.9', '463', '1153', '1.23', '0.90', '2.13', '1.20', '2.10', '1.25', '0.87', '2.12', '1.20', '2.06']
['28', '27.0', '49.3', '30', '330', '2,700', '30.0', '38', '28', '66', '37', '1', '2', '49', '2', '35.6', '34.1', '29.5', '63.6', '480', '1079', '1.27', '0.93', '2.20', '1.23', '2.17', '1.19', '0.98', '2.17', '1.14', '2.12']
['27', '28.2', '58.9', '29', '319', '2,610', '29.0', '46', '37', '83', '46', '0', '2', '43', '1', '52.0', '50.5', '40.0', '90.5', '526', '1490', '1.59', '1.28', '2.86', '1.59', '2.86', '1.79', '1.38', '3.17', '1.74', '3.12']
['22', '28.0', '64.7', '29', '319', '2,610', '29.0', '73', '54', '127', '66', '7', '7', '36', '1', '61.9', '56.4', '44.7', '101.0', '759', '1645', '2.52', '1.86', '4.38', '2.28', '4.14', '2.13', '1.54', '3.67', '1.94', '3.48']
['26', '27.6', '53.4', '29', '319', '2,610', '29.0', '42', '34', '76', '40', '2', '2', '61', '2', '45.8', '44.2', '35.9', '80.1', '527', '1138', '1.45', '1.17', '2.62', '1.38', '2.55', '1.58', '1.24', '2.82', '1.52', '2.76']
['26', '28.1', '51.4', '29', '319', '2,610', '29.0', '46', '31', '77', '42', '4', '4', '50', '1', '49.9', '46.9', '37.5', '84.4', '502', '1209', '1.59', '1.07', '2.66', '1.45', '2.52', '1.72', '1.29', '3.02', '1.62', '2.91']
['33', '27.3', '40.2', '30', '330', '2,700', '30.0', '23', '14', '37', '22', '1', '3', '70', '0', '30.5', '28.2', '22.0', '50.2', '371', '733', '0.77', '0.47', '1.23', '0.73', '1.20', '1.02', '0.73', '1.75', '0.94', '1.67']
['31', '25.2', '44.9', '30', '330', '2,700', '30.0', '24', '16', '40', '23', '1', '3', '54', '0', '28.5', '26.0', '21.5', '47.5', '447', '911', '0.80', '0.53', '1.33', '0.77', '1.30', '0.95', '0.72', '1.67', '0.87', '1.58']
['27', '28.4', '50.3', '30', '330', '2,700', '30.0', '53', '35', '88', '49', '4', '5', '63', '3', '43.2', '39.3', '31.7', '71.0', '554', '1203', '1.77', '1.17', '2.93', '1.63', '2.80', '1.44', '1.06', '2.50', '1.31', '2.37']
['25', '28.8', '42.8', '29', '319', '2,610', '29.0', '26', '14', '40', '21', '5', '7', '36', '0', '36.9', '32.3', '23.8', '56.0', '474', '992', '0.90', '0.48', '1.38', '0.72', '1.21', '1.27', '0.82', '2.09', '1.11', '1.93']
['31', '27.4', '50.5', '30', '330', '2,700', '30.0', '22', '10', '32', '20', '2', '2', '65', '6', '30.0', '28.5', '21.4', '49.9', '501', '1139', '0.73', '0.33', '1.07', '0.67', '1.00', '1.00', '0.71', '1.71', '0.95', '1.66']
['', 'Playing Time', 'Performance', 'Expected', 'Progression', 'Per 90 Minutes', 'Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG']
['26', '27.5', '40.4', '30', '330', '2,700', '30.0', '28', '17', '45', '26', '2', '4', '66', '1', '31.6', '28.5', '23.2', '51.6', '395', '733', '0.93', '0.57', '1.50', '0.87', '1.43', '1.05', '0.77', '1.83', '0.95', '1.72']
['26', '27.2', '50.5', '30', '330', '2,700', '30.0', '36', '21', '57', '32', '4', '5', '64', '3', '43.7', '39.8', '29.6', '69.5', '491', '1057', '1.20', '0.70', '1.90', '1.07', '1.77', '1.46', '0.99', '2.44', '1.33', '2.32']
['31', '27.3', '61.2', '30', '330', '2,700', '30.0', '54', '38', '92', '48', '6', '7', '44', '0', '51.8', '46.4', '36.3', '82.7', '632', '1625', '1.80', '1.27', '3.07', '1.60', '2.87', '1.73', '1.21', '2.94', '1.55', '2.76']
['25', '27.2', '56.6', '30', '330', '2,700', '30.0', '37', '27', '64', '35', '2', '2', '50', '1', '39.8', '38.6', '29.0', '67.6', '612', '1258', '1.23', '0.90', '2.13', '1.17', '2.07', '1.33', '0.97', '2.29', '1.29', '2.25']
['26', '27.4', '40.1', '28', '308', '2,520', '28.0', '33', '21', '54', '28', '5', '6', '65', '1', '33.0', '28.2', '20.3', '48.5', '367', '791', '1.18', '0.75', '1.93', '1.00', '1.75', '1.18', '0.73', '1.91', '1.01', '1.73']
['32', '27.4', '40.9', '30', '330', '2,700', '30.0', '29', '20', '49', '29', '0', '0', '62', '1', '36.2', '36.2', '28.5', '64.6', '447', '940', '0.97', '0.67', '1.63', '0.97', '1.63', '1.21', '0.95', '2.15', '1.21', '2.15']
['26', '27.2', '55.8', '30', '330', '2,700', '30.0', '38', '28', '66', '36', '2', '2', '60', '2', '40.5', '38.9', '30.0', '68.9', '508', '1377', '1.27', '0.93', '2.20', '1.20', '2.13', '1.35', '1.00', '2.35', '1.30', '2.30']
['28', '27.2', '56.5', '30', '330', '2,700', '30.0', '43', '28', '71', '38', '5', '5', '59', '1', '51.7', '47.9', '37.3', '85.2', '595', '1336', '1.43', '0.93', '2.37', '1.27', '2.20', '1.72', '1.24', '2.97', '1.60', '2.84']
['29', '27.5', '51.7', '29', '319', '2,610', '29.0', '39', '23', '62', '35', '4', '4', '38', '5', '48.6', '46.0', '35.2', '81.2', '423', '1069', '1.34', '0.79', '2.14', '1.21', '2.00', '1.68', '1.21', '2.89', '1.59', '2.80']
['28', '27.3', '51.3', '30', '330', '2,700', '30.0', '53', '34', '87', '50', '3', '3', '58', '3', '49.5', '47.2', '37.8', '85.0', '459', '1103', '1.77', '1.13', '2.90', '1.67', '2.80', '1.65', '1.26', '2.91', '1.57', '2.83']
['28', '27.2', '50.7', '30', '330', '2,700', '30.0', '47', '34', '81', '45', '2', '3', '51', '2', '49.1', '46.9', '38.1', '85.0', '536', '1217', '1.57', '1.13', '2.70', '1.50', '2.63', '1.64', '1.27', '2.91', '1.56', '2.83']
['27', '27.3', '41.1', '29', '319', '2,610', '29.0', '33', '23', '56', '31', '2', '3', '47', '1', '41.2', '39.2', '31.4', '70.5', '400', '933', '1.14', '0.79', '1.93', '1.07', '1.86', '1.42', '1.08', '2.50', '1.35', '2.43']
['22', '27.5', '35.4', '29', '319', '2,610', '29.0', '26', '17', '43', '23', '3', '3', '64', '2', '22.2', '19.9', '16.6', '36.4', '332', '665', '0.90', '0.59', '1.48', '0.79', '1.38', '0.77', '0.57', '1.34', '0.68', '1.26']
['26', '27.2', '46.6', '29', '319', '2,610', '29.0', '36', '25', '61', '35', '1', '1', '37', '0', '38.0', '37.2', '28.5', '65.8', '517', '1035', '1.24', '0.86', '2.10', '1.21', '2.07', '1.31', '0.98', '2.29', '1.28', '2.27']
['26', '27.7', '48.6', '29', '319', '2,610', '29.0', '21', '16', '37', '19', '2', '4', '61', '1', '28.8', '25.7', '21.6', '47.3', '447', '972', '0.72', '0.55', '1.28', '0.66', '1.21', '0.99', '0.74', '1.74', '0.89', '1.63']
['33', '27.7', '59.8', '30', '330', '2,700', '30.0', '54', '36', '90', '49', '5', '8', '57', '0', '47.7', '41.6', '33.0', '74.6', '621', '1423', '1.80', '1.20', '3.00', '1.63', '2.83', '1.59', '1.10', '2.69', '1.39', '2.49']
['31', '27.5', '55.1', '30', '330', '2,700', '30.0', '47', '39', '86', '46', '1', '2', '52', '2', '42.7', '41.1', '33.5', '74.6', '480', '1290', '1.57', '1.30', '2.87', '1.53', '2.83', '1.42', '1.12', '2.54', '1.37', '2.49']
['27', '27.4', '49.7', '30', '330', '2,700', '30.0', '41', '30', '71', '39', '2', '3', '60', '2', '36.1', '33.8', '25.9', '59.7', '527', '1171', '1.37', '1.00', '2.37', '1.30', '2.30', '1.20', '0.86', '2.07', '1.13', '1.99']
['25', '27.4', '57.2', '29', '319', '2,610', '29.0', '38', '30', '68', '35', '3', '4', '43', '0', '35.7', '32.5', '26.9', '59.4', '591', '1268', '1.31', '1.03', '2.34', '1.21', '2.24', '1.23', '0.93', '2.16', '1.12', '2.05']
['31', '27.1', '49.5', '30', '330', '2,700', '30.0', '41', '32', '73', '40', '1', '3', '61', '0', '42.9', '40.6', '31.5', '72.1', '547', '1263', '1.37', '1.07', '2.43', '1.33', '2.40', '1.43', '1.05', '2.48', '1.35', '2.40']

In [ ]:
from google.colab import files
import io

uploaded = files.upload()

Saving FBref.xlsx to FBref (2).xlsx

In [ ]:
df_player = pd.read_excel(io.BytesIO(uploaded['FBref.xlsx']),header=None)

In [ ]:
df_player.columns = pd.MultiIndex.from_arrays(df_player[:1].values)
df_player = df_player.drop(1)
df_player

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,22-175,2000,29,26,2144,...,0.04,0.13,0.17,0.04,0.17,0.15,0.17,0.32,0.15,0.32
3,2,Che Adams,sct SCO,FW,Southampton,26-276,1996,25,22,1873,...,0.24,0.14,0.38,0.24,0.38,0.28,0.13,0.42,0.28,0.42
4,3,Tyler Adams,us USA,MF,Leeds United,24-060,1999,24,24,2156,...,0,0,0,0,0,0,0.06,0.06,0,0.06
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,25-203,1997,16,14,1275,...,0.07,0,0.07,0.07,0.07,0.02,0.01,0.03,0.02,0.03
6,5,Nayef Aguerd,ma MAR,DF,West Ham,27-016,1996,12,11,1055,...,0.09,0,0.09,0.09,0.09,0.12,0.03,0.15,0.12,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,549,Jordan Zemura,zw ZIM,DF,Bournemouth,23-152,1999,19,17,1454,...,0,0.06,0.06,0,0.06,0.02,0.11,0.14,0.02,0.14
551,550,Oleksandr Zinchenko,ua UKR,DF,Arsenal,26-121,1996,23,22,1825,...,0.05,0.1,0.15,0.05,0.15,0.07,0.07,0.13,0.07,0.13
552,551,Hakim Ziyech,ma MAR,FWMF,Chelsea,30-027,1993,13,6,572,...,0,0.16,0.16,0,0.16,0.09,0.22,0.31,0.09,0.31
553,552,Kurt Zouma,fr FRA,DF,West Ham,28-170,1994,20,19,1656,...,0.11,0,0.11,0.11,0.11,0.11,0,0.12,0.11,0.12
554,553,Martin Ødegaard,no NOR,MF,Arsenal,24-119,1998,29,29,2469,...,0.36,0.26,0.62,0.36,0.62,0.3,0.25,0.55,0.3,0.55

In [ ]:
df_player.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,22-175,2000,29,26,2144,...,0.04,0.13,0.17,0.04,0.17,0.15,0.17,0.32,0.15,0.32
3,2,Che Adams,sct SCO,FW,Southampton,26-276,1996,25,22,1873,...,0.24,0.14,0.38,0.24,0.38,0.28,0.13,0.42,0.28,0.42
4,3,Tyler Adams,us USA,MF,Leeds United,24-060,1999,24,24,2156,...,0,0,0,0,0,0,0.06,0.06,0,0.06
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,25-203,1997,16,14,1275,...,0.07,0,0.07,0.07,0.07,0.02,0.01,0.03,0.02,0.03
6,5,Nayef Aguerd,ma MAR,DF,West Ham,27-016,1996,12,11,1055,...,0.09,0,0.09,0.09,0.09,0.12,0.03,0.15,0.12,0.15

In [ ]:
df_player[['Age_Year','Age_Days']]=df_player.iloc[:,5].str.split('-', expand=True)

In [ ]:
df_player.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Age_Year,Age_Days
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,22-175,2000,29,26,2144,...,0.17,0.04,0.17,0.15,0.17,0.32,0.15,0.32,22,175
3,2,Che Adams,sct SCO,FW,Southampton,26-276,1996,25,22,1873,...,0.38,0.24,0.38,0.28,0.13,0.42,0.28,0.42,26,276
4,3,Tyler Adams,us USA,MF,Leeds United,24-060,1999,24,24,2156,...,0,0,0,0,0.06,0.06,0,0.06,24,060
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,25-203,1997,16,14,1275,...,0.07,0.07,0.07,0.02,0.01,0.03,0.02,0.03,25,203
6,5,Nayef Aguerd,ma MAR,DF,West Ham,27-016,1996,12,11,1055,...,0.09,0.09,0.09,0.12,0.03,0.15,0.12,0.15,27,016

In [ ]:
df_player=df_player.drop('Age',axis=1)

In [ ]:
df_player['Age_Year']=df_player['Age_Year'].astype(int)
df_player['Age_Days']=df_player['Age_Days'].astype(int)

<ipython-input-124-175270abd1c0>:1: PerformanceWarning:

indexing past lexsort depth may impact performance.

<ipython-input-124-175270abd1c0>:2: PerformanceWarning:

indexing past lexsort depth may impact performance.

In [ ]:
df_player['Age_Days'] = pd.Series(df_player['Age_Days'])
print(type(df_player['Age_Days']))

ValueError: ignored

In [ ]:
 # flatten out the multiindex columns into a single column and iterates through all columns.values and join them using the delimiter'_'
df_player.columns = [''.join(col).strip() for col in df_player.columns.values]
df_player['Age_New'] = df_player['Age_Year'] + (df_player['Age_Days'] / 365)

KeyError: ignored

In [ ]:
df_player.head()

,Rk,Player,Nation,Pos,Squad,Born,MP,Starts,Min,90s,...,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,AgeYear,AgeDays,AgeNew
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,2000,29,26,2144,23.8,...,0.04,0.17,0.15,0.17,0.32,0.15,0.32,22,175,22.479452
3,2,Che Adams,sct SCO,FW,Southampton,1996,25,22,1873,20.8,...,0.24,0.38,0.28,0.13,0.42,0.28,0.42,26,276,26.756164
4,3,Tyler Adams,us USA,MF,Leeds United,1999,24,24,2156,24,...,0,0,0,0.06,0.06,0,0.06,24,60,24.164384
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,1997,16,14,1275,14.2,...,0.07,0.07,0.02,0.01,0.03,0.02,0.03,25,203,25.556164
6,5,Nayef Aguerd,ma MAR,DF,West Ham,1996,12,11,1055,11.7,...,0.09,0.09,0.12,0.03,0.15,0.12,0.15,27,16,27.043836

# New Section

In [ ]:
df_player.columns=df_player.columns.str.replace('_','')

In [ ]:
df_player=df_player.drop(['AgeYear','AgeDays'],axis=1)

In [ ]:
df_player.head()

,Rk,Player,Nation,Pos,Squad,Born,MP,Starts,Min,90s,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,AgeNew
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,2000,29,26,2144,23.8,...,0.13,0.17,0.04,0.17,0.15,0.17,0.32,0.15,0.32,22.479452
3,2,Che Adams,sct SCO,FW,Southampton,1996,25,22,1873,20.8,...,0.14,0.38,0.24,0.38,0.28,0.13,0.42,0.28,0.42,26.756164
4,3,Tyler Adams,us USA,MF,Leeds United,1999,24,24,2156,24,...,0,0,0,0,0,0.06,0.06,0,0.06,24.164384
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,1997,16,14,1275,14.2,...,0,0.07,0.07,0.07,0.02,0.01,0.03,0.02,0.03,25.556164
6,5,Nayef Aguerd,ma MAR,DF,West Ham,1996,12,11,1055,11.7,...,0,0.09,0.09,0.09,0.12,0.03,0.15,0.12,0.15,27.043836

In [ ]:
df_player['AgeNew']=df_player['AgeNew'].round(2)

In [ ]:
df_player.head()

,Rk,Player,Nation,Pos,Squad,Born,MP,Starts,Min,90s,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,AgeNew
2,1,Brenden Aaronson,us USA,MFFW,Leeds United,2000,29,26,2144,23.8,...,0.13,0.17,0.04,0.17,0.15,0.17,0.32,0.15,0.32,22.48
3,2,Che Adams,sct SCO,FW,Southampton,1996,25,22,1873,20.8,...,0.14,0.38,0.24,0.38,0.28,0.13,0.42,0.28,0.42,26.76
4,3,Tyler Adams,us USA,MF,Leeds United,1999,24,24,2156,24,...,0,0,0,0,0,0.06,0.06,0,0.06,24.16
5,4,Tosin Adarabioyo,eng ENG,DF,Fulham,1997,16,14,1275,14.2,...,0,0.07,0.07,0.07,0.02,0.01,0.03,0.02,0.03,25.56
6,5,Nayef Aguerd,ma MAR,DF,West Ham,1996,12,11,1055,11.7,...,0,0.09,0.09,0.09,0.12,0.03,0.15,0.12,0.15,27.04

In [ ]:
data=files.upload()

Saving FBref.xlsx to FBref (3).xlsx

In [ ]:
df_p=pd.read_excel(io.BytesIO(data['FBref.xlsx']))